In [1074]:
import pandas as pd
pd.set_option('display.max_rows', 10)

In [1075]:
df = pd.read_csv('raw_data.csv')

In [1076]:
df.head()

,Unnamed: 0,жилая площадь,ремонт,этажей в доме,отделка,количество комнат,площадь кухни,мебель,санузел,высота потолков,парковка,тип дома,"корпус, строение",двор,общая площадь,официальный застройщик,запланирован снос,год постройки,тип участия,грузовой лифт,способ продажи,этаж,срок сдачи,тёплый пол,окна,вид сделки,пассажирский лифт,балкон или лоджия,техника,в доме,название новостройки,тип комнат,position,price
0,0,NaN,NaN,25,без отделки,4,NaN,NaN,NaN,NaN,NaN,монолитный,дом 4.3,NaN,62.6 м²,ооо «сз «южный парк-4»,NaN,NaN,дду по фз 214,NaN,NaN,20 из 25,2 кв. 2025 года,NaN,NaN,NaN,NaN,NaN,NaN,NaN,жк «южный парк»,изолированные,1000000,8171910
1,1,NaN,NaN,25,без отделки,3,NaN,NaN,NaN,NaN,NaN,монолитный,дом 4.3,NaN,50.9 м²,ооо «сз «южный парк-4»,NaN,NaN,дду по фз 214,NaN,NaN,8 из 25,2 кв. 2025 года,NaN,NaN,NaN,NaN,NaN,NaN,NaN,жк «южный парк»,изолированные,1000000,6949215
2,2,28.4 м²,косметический,9,NaN,2,7.7 м²,"кухня, спальные места",раздельный,2.7 м,открытая во дворе,кирпичный,NaN,"детская площадка, спортивная площадка",50.9 м²,NaN,NaN,1988.0,NaN,NaN,альтернативная,2 из 9,NaN,NaN,на улицу,NaN,NaN,лоджия,"стиральная машина, посудомоечная машина",газ,NaN,изолированные,1000000,6490000
3,3,NaN,NaN,25,без отделки,3,NaN,NaN,NaN,NaN,NaN,монолитный,дом 4.3,NaN,45.2 м²,ооо «сз «южный парк-4»,NaN,NaN,дду по фз 214,NaN,NaN,11 из 25,2 кв. 2025 года,NaN,NaN,NaN,NaN,NaN,NaN,NaN,жк «южный парк»,изолированные,1000000,6156245
4,4,18 м²,дизайнерский,10,NaN,1,10 м²,"кухня, хранение одежды",совмещенный,2.8 м,подземная,монолитно-кирпичный,NaN,"закрытая территория, детская площадка, спорти...",40 м²,NaN,NaN,2019.0,NaN,нет,свободная,3 из 10,NaN,NaN,"на улицу, на солнечную сторону",возможна ипотека,1,лоджия,кондиционер,NaN,NaN,NaN,31,9999999

In [1077]:
df.columns

Index(['Unnamed: 0', 'жилая площадь', 'ремонт', 'этажей в доме', 'отделка',
       'количество комнат', 'площадь кухни', 'мебель', 'санузел',
       'высота потолков', 'парковка', 'тип дома', 'корпус, строение', 'двор',
       'общая площадь', 'официальный застройщик', 'запланирован снос',
       'год постройки', 'тип участия', 'грузовой лифт', 'способ продажи',
       'этаж', 'срок сдачи', 'тёплый пол', 'окна', 'вид сделки',
       'пассажирский лифт', 'балкон или лоджия', 'техника', 'в доме',
       'название новостройки', 'тип комнат', 'position', 'price'],
      dtype='object')

In [1078]:
df = df.drop(['Unnamed: 0'], axis=1)

In [1079]:
df.shape

(4973, 33)

In [1080]:
df.describe()

       этажей в доме  год постройки        position         price
count    4973.000000    3153.000000     4973.000000  4.973000e+03
mean       10.846169    1990.001269   343668.053891  8.337307e+06
std         6.280634     134.009207   474966.707958  6.720903e+07
min         1.000000       0.000000        5.000000  6.500000e+05
25%         5.000000    1979.000000       16.000000  4.550000e+06
50%         9.000000    2007.000000       31.000000  5.980000e+06
75%        16.000000    2018.000000  1000000.000000  7.990000e+06
max        38.000000    2023.000000  1000000.000000  3.350000e+09

In [1081]:
df.isna().sum()

жилая площадь           1394
ремонт                   481
этажей в доме              0
отделка                 4523
количество комнат          0
                        ...
в доме                  3759
название новостройки    4534
тип комнат              2363
position                   0
price                      0
Length: 33, dtype: int64

In [1082]:
df.notna().sum()

жилая площадь           3579
ремонт                  4492
этажей в доме           4973
отделка                  450
количество комнат       4973
                        ...
в доме                  1214
название новостройки     439
тип комнат              2610
position                4973
price                   4973
Length: 33, dtype: int64

In [1083]:
column_list = df.columns.tolist()

In [1084]:
column_list_square = list(filter(lambda item: "площадь" in item, column_list))

In [1085]:
column_list_square

['жилая площадь', 'площадь кухни', 'общая площадь']

In [1086]:
def clear_square(data):
    if data:
        return float(str(data).split()[0])

In [1087]:
for col_name in column_list_square:
    df[col_name] = df[col_name].apply(clear_square)

In [1088]:
df[column_list_square]

      жилая площадь  площадь кухни  общая площадь
0               NaN            NaN           62.6
1               NaN            NaN           50.9
2              28.4            7.7           50.9
3               NaN            NaN           45.2
4              18.0           10.0           40.0
...             ...            ...            ...
4968           27.3            7.0           49.1
4969           15.5           11.1           35.2
4970           58.0           18.4           81.4
4971           70.0           12.0           94.1
4972            NaN           20.0          114.0

[4973 rows x 3 columns]

In [1089]:
df.describe()

,жилая площадь,этажей в доме,площадь кухни,общая площадь,год постройки,position,price
count,3579.000000,4973.000000,4615.000000,4973.000000,3153.000000,4973.000000,4.973000e+03
mean,27.876474,10.846169,10.590054,50.844621,1990.001269,343668.053891,8.337307e+06
std,15.972825,6.280634,5.809977,28.429042,134.009207,474966.707958,6.720903e+07
min,5.000000,1.000000,2.000000,10.000000,0.000000,5.000000,6.500000e+05
25%,17.100000,5.000000,7.300000,35.000000,1979.000000,16.000000,4.550000e+06
50%,24.000000,9.000000,9.700000,45.000000,2007.000000,31.000000,5.980000e+06
75%,33.100000,16.000000,12.100000,60.800000,2018.000000,1000000.000000,7.990000e+06
max,176.000000,38.000000,95.000000,1000.000000,2023.000000,1000000.000000,3.350000e+09

In [1090]:
df[column_list_square].corr()

               жилая площадь  площадь кухни  общая площадь
жилая площадь       1.000000       0.365617       0.922777
площадь кухни       0.365617       1.000000       0.472500
общая площадь       0.922777       0.472500       1.000000

In [1091]:
df = df.drop(['жилая площадь'], axis=1)

In [1092]:
df['площадь кухни'].fillna(df['площадь кухни'].mean(), inplace=True)

In [1093]:
df.describe()

,этажей в доме,площадь кухни,общая площадь,год постройки,position,price
count,4973.000000,4973.000000,4973.000000,3153.000000,4973.000000,4.973000e+03
mean,10.846169,10.590054,50.844621,1990.001269,343668.053891,8.337307e+06
std,6.280634,5.596901,28.429042,134.009207,474966.707958,6.720903e+07
min,1.000000,2.000000,10.000000,0.000000,5.000000,6.500000e+05
25%,5.000000,7.700000,35.000000,1979.000000,16.000000,4.550000e+06
50%,9.000000,10.000000,45.000000,2007.000000,31.000000,5.980000e+06
75%,16.000000,12.000000,60.800000,2018.000000,1000000.000000,7.990000e+06
max,38.000000,95.000000,1000.000000,2023.000000,1000000.000000,3.350000e+09

In [1094]:
df['количество комнат'].unique()

array([' 4', ' 3', ' 2', ' 1', ' студия', ' 5', ' 10 и больше',
       ' свободная планировка', ' 6', ' 9', ' 7'], dtype=object)

In [1095]:
df['количество комнат'].value_counts()

 1                       2023
 2                       1625
 3                        863
 студия                   320
 4                        105
                         ...
 6                          6
 свободная планировка       5
 10 и больше                3
 9                          1
 7                          1
Name: количество комнат, Length: 11, dtype: int64

In [1096]:
# удаляем 10 и больше и др.
for item in ['10 и больше','6','7','8','9','свободная планировка']:
    df.drop(df[df['количество комнат'].str.contains(item)].index, inplace = True)

In [1097]:
df['количество комнат'].value_counts()

 1         2023
 2         1625
 3          863
 студия     320
 4          105
 5           21
Name: количество комнат, dtype: int64

In [1098]:
def rep_count_room(data):
    if "5" in data:
        return 4
    if "студия" in data:
        return 0
    return int(data)

In [1099]:
df['количество комнат']=df['количество комнат'].apply(rep_count_room)

In [1100]:
df['количество комнат'].value_counts()

1    2023
2    1625
3     863
0     320
4     126
Name: количество комнат, dtype: int64

In [1101]:
df.describe()

,этажей в доме,количество комнат,площадь кухни,общая площадь,год постройки,position,price
count,4957.000000,4957.000000,4957.000000,4957.000000,3142.000000,4957.000000,4.957000e+03
mean,10.848901,1.687714,10.581862,50.595158,1989.948440,343768.615493,8.315486e+06
std,6.274135,0.919103,5.596897,27.728350,134.239442,474999.957837,6.731410e+07
min,1.000000,0.000000,2.000000,10.000000,0.000000,5.000000,6.500000e+05
25%,5.000000,1.000000,7.600000,35.000000,1979.000000,16.000000,4.550000e+06
50%,9.000000,2.000000,10.000000,45.000000,2007.000000,31.000000,5.959999e+06
75%,16.000000,2.000000,12.000000,60.600000,2018.000000,1000000.000000,7.956000e+06
max,38.000000,4.000000,95.000000,1000.000000,2023.000000,1000000.000000,3.350000e+09

In [1102]:
df.columns

Index(['ремонт', 'этажей в доме', 'отделка', 'количество комнат',
       'площадь кухни', 'мебель', 'санузел', 'высота потолков', 'парковка',
       'тип дома', 'корпус, строение', 'двор', 'общая площадь',
       'официальный застройщик', 'запланирован снос', 'год постройки',
       'тип участия', 'грузовой лифт', 'способ продажи', 'этаж', 'срок сдачи',
       'тёплый пол', 'окна', 'вид сделки', 'пассажирский лифт',
       'балкон или лоджия', 'техника', 'в доме', 'название новостройки',
       'тип комнат', 'position', 'price'],
      dtype='object')

In [1103]:
df['запланирован снос']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4968    NaN
4969    NaN
4970    NaN
4971    NaN
4972    NaN
Name: запланирован снос, Length: 4957, dtype: object

In [1104]:
# удаляем дома, которые запланированы под снос
df.drop(df[df['запланирован снос'].notna()].index, inplace = True)

In [1105]:
df['запланирован снос'].value_counts()

Series([], Name: запланирован снос, dtype: int64)

In [1106]:
df.drop(['запланирован снос'], axis=1, inplace=True)

In [1107]:
df.columns

Index(['ремонт', 'этажей в доме', 'отделка', 'количество комнат',
       'площадь кухни', 'мебель', 'санузел', 'высота потолков', 'парковка',
       'тип дома', 'корпус, строение', 'двор', 'общая площадь',
       'официальный застройщик', 'год постройки', 'тип участия',
       'грузовой лифт', 'способ продажи', 'этаж', 'срок сдачи', 'тёплый пол',
       'окна', 'вид сделки', 'пассажирский лифт', 'балкон или лоджия',
       'техника', 'в доме', 'название новостройки', 'тип комнат', 'position',
       'price'],
      dtype='object')

In [1108]:
df[['год постройки', 'срок сдачи']]

      год постройки        срок сдачи
0               NaN   2 кв. 2025 года
1               NaN   2 кв. 2025 года
2            1988.0               NaN
3               NaN   2 кв. 2025 года
4            2019.0               NaN
...             ...               ...
4968         1980.0               NaN
4969         2022.0               NaN
4970         2014.0               NaN
4971         2006.0               NaN
4972         1938.0               NaN

[4945 rows x 2 columns]

In [1109]:
df['срок сдачи'].value_counts()

 сдан               120
 4 кв. 2024 года     72
 4 кв. 2022 года     61
 1 кв. 2023 года     49
 4 кв. 2023 года     32
                   ...
 1 кв. 2024 года      9
 3 кв. 2025 года      7
 4 кв. 2025 года      3
 2 кв. 2024 года      1
 3 кв. 2024 года      1
Name: срок сдачи, Length: 13, dtype: int64

In [1110]:
df[df['срок сдачи']==' сдан']['год постройки']

8      NaN
10     NaN
36     NaN
94     NaN
588    NaN
        ..
4683   NaN
4766   NaN
4839   NaN
4913   NaN
4937   NaN
Name: год постройки, Length: 120, dtype: float64

In [1111]:
import re
import numpy as np
import datetime as dt

In [1112]:
df['год постройки'].value_counts()

2021.0    286
2022.0    178
2019.0    134
2020.0    121
2018.0    114
         ...
1949.0      1
1939.0      1
1930.0      1
1890.0      1
67.0        1
Name: год постройки, Length: 91, dtype: int64

In [1113]:
df['срок сдачи'].value_counts()

 сдан               120
 4 кв. 2024 года     72
 4 кв. 2022 года     61
 1 кв. 2023 года     49
 4 кв. 2023 года     32
                   ...
 1 кв. 2024 года      9
 3 кв. 2025 года      7
 4 кв. 2025 года      3
 2 кв. 2024 года      1
 3 кв. 2024 года      1
Name: срок сдачи, Length: 13, dtype: int64

In [1114]:
df[df['год постройки'].isna() & df['срок сдачи'].isna()].shape

(1377, 31)

In [1115]:
def extract_year(year, yearbuilding):
    if not np.isnan(year):
        year = int(year)
        if year>100:
            return year
        else:
            return (1900+year)
    if type(yearbuilding)==str and yearbuilding.strip()=='сдан':
        return dt.datetime.now().year
    if type(yearbuilding)==str:
        return int(next(iter(re.findall(r"[0-9]{4,4}", yearbuilding)), "19"+next(iter(re.findall(r"[0-9]{2,2}", yearbuilding)), "00")))
    return dt.datetime.now().year

In [1116]:
df['год постройки']=df.apply(lambda row: extract_year(row['год постройки'], row['срок сдачи']), axis=1)

In [1117]:
df['год постройки']

0       2025
1       2025
2       1988
3       2025
4       2019
        ...
4968    1980
4969    2022
4970    2014
4971    2006
4972    1938
Name: год постройки, Length: 4945, dtype: int64

In [1118]:
df['год постройки'].value_counts()

2022    1736
2021     286
2023     143
2019     134
2020     121
        ...
1905       1
1949       1
1939       1
1930       1
1890       1
Name: год постройки, Length: 91, dtype: int64

In [1119]:
df.describe()

,этажей в доме,количество комнат,площадь кухни,общая площадь,год постройки,position,price
count,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4.945000e+03
mean,10.841658,1.687159,10.575571,50.568008,2007.119515,344198.343175,8.302840e+06
std,6.269807,0.918948,5.587893,27.712410,21.360816,475141.243627,6.739190e+07
min,1.000000,0.000000,2.000000,10.000000,1890.000000,5.000000,6.500000e+05
25%,5.000000,1.000000,7.600000,35.000000,1998.000000,16.000000,4.550000e+06
50%,9.000000,2.000000,10.000000,45.000000,2019.000000,31.000000,5.950000e+06
75%,16.000000,2.000000,12.000000,60.500000,2022.000000,1000000.000000,7.949000e+06
max,38.000000,4.000000,95.000000,1000.000000,2025.000000,1000000.000000,3.350000e+09

In [1120]:
df.drop(['срок сдачи'], axis=1, inplace=True)

In [1121]:
df['достроен'] = df['год постройки']<=dt.datetime.now().year

In [1122]:
df['не достроен'] = df['год постройки']>dt.datetime.now().year

In [1123]:
df['достроен'] = df['достроен'].astype('int')
df['не достроен'] = df['не достроен'].astype('int')

In [1124]:
df.describe()

,этажей в доме,количество комнат,площадь кухни,общая площадь,год постройки,position,price,достроен,не достроен
count,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4.945000e+03,4945.000000,4945.000000
mean,10.841658,1.687159,10.575571,50.568008,2007.119515,344198.343175,8.302840e+06,0.946815,0.053185
std,6.269807,0.918948,5.587893,27.712410,21.360816,475141.243627,6.739190e+07,0.224425,0.224425
min,1.000000,0.000000,2.000000,10.000000,1890.000000,5.000000,6.500000e+05,0.000000,0.000000
25%,5.000000,1.000000,7.600000,35.000000,1998.000000,16.000000,4.550000e+06,1.000000,0.000000
50%,9.000000,2.000000,10.000000,45.000000,2019.000000,31.000000,5.950000e+06,1.000000,0.000000
75%,16.000000,2.000000,12.000000,60.500000,2022.000000,1000000.000000,7.949000e+06,1.000000,0.000000
max,38.000000,4.000000,95.000000,1000.000000,2025.000000,1000000.000000,3.350000e+09,1.000000,1.000000

In [1125]:
df.head()

,ремонт,этажей в доме,отделка,количество комнат,площадь кухни,мебель,санузел,высота потолков,парковка,тип дома,"корпус, строение",двор,общая площадь,официальный застройщик,год постройки,тип участия,грузовой лифт,способ продажи,этаж,тёплый пол,окна,вид сделки,пассажирский лифт,балкон или лоджия,техника,в доме,название новостройки,тип комнат,position,price,достроен,не достроен
0,NaN,25,без отделки,4,10.590054,NaN,NaN,NaN,NaN,монолитный,дом 4.3,NaN,62.6,ооо «сз «южный парк-4»,2025,дду по фз 214,NaN,NaN,20 из 25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,жк «южный парк»,изолированные,1000000,8171910,0,1
1,NaN,25,без отделки,3,10.590054,NaN,NaN,NaN,NaN,монолитный,дом 4.3,NaN,50.9,ооо «сз «южный парк-4»,2025,дду по фз 214,NaN,NaN,8 из 25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,жк «южный парк»,изолированные,1000000,6949215,0,1
2,косметический,9,NaN,2,7.700000,"кухня, спальные места",раздельный,2.7 м,открытая во дворе,кирпичный,NaN,"детская площадка, спортивная площадка",50.9,NaN,1988,NaN,NaN,альтернативная,2 из 9,NaN,на улицу,NaN,NaN,лоджия,"стиральная машина, посудомоечная машина",газ,NaN,изолированные,1000000,6490000,1,0
3,NaN,25,без отделки,3,10.590054,NaN,NaN,NaN,NaN,монолитный,дом 4.3,NaN,45.2,ооо «сз «южный парк-4»,2025,дду по фз 214,NaN,NaN,11 из 25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,жк «южный парк»,изолированные,1000000,6156245,0,1
4,дизайнерский,10,NaN,1,10.000000,"кухня, хранение одежды",совмещенный,2.8 м,подземная,монолитно-кирпичный,NaN,"закрытая территория, детская площадка, спорти...",40.0,NaN,2019,NaN,нет,свободная,3 из 10,NaN,"на улицу, на солнечную сторону",возможна ипотека,1,лоджия,кондиционер,NaN,NaN,NaN,31,9999999,1,0

In [1126]:
df['высота потолков'].value_counts()

 2.7 м     637
 2.6 м     278
 2.8 м     277
 3 м       219
 2.5 м     170
          ...
 2.1 м       1
 6 м         1
 4 м         1
 25.7 м      1
 45 м        1
Name: высота потолков, Length: 44, dtype: int64

In [1127]:
def extract_height(height):
    if type(height)==str:
        h = float(height.split()[0])
        if h<10:
            return h
        if h>10 and h<100:
            return h/10
        if h>100 and h<1000:
            return h/100
        if h>1000:
            return h/1000
        return h
    return height

In [1128]:
df['высота потолков'] = df['высота потолков'].apply(extract_height)

In [1129]:
df['высота потолков'].value_counts()

2.70    649
2.80    288
2.60    284
3.00    221
2.50    175
       ...
1.80      1
2.00      1
2.57      1
4.00      1
4.50      1
Name: высота потолков, Length: 31, dtype: int64

In [1130]:
df['высота потолков'].isna().sum()

3160

In [1131]:
df['высота потолков'].mean()

2.7115070028010995

In [1132]:
df['высота потолков'].fillna(df['высота потолков'].mean(), inplace=True)

In [1133]:
df['в доме'].value_counts()

 газ                            705
 мусоропровод                   259
 мусоропровод, газ              101
 консьерж                        94
 консьерж, газ                   21
 консьерж, мусоропровод          16
 консьерж, мусоропровод, газ      3
Name: в доме, dtype: int64

In [1134]:
df['в доме'].fillna('', inplace=True)

In [1135]:
df['в доме']=df['в доме'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [1136]:
df['в доме'].value_counts()

[]                               3746
[газ]                             705
[мусоропровод]                    259
[мусоропровод, газ]               101
[консьерж]                         94
[консьерж, газ]                    21
[консьерж, мусоропровод]           16
[консьерж, мусоропровод, газ]       3
Name: в доме, dtype: int64

In [1137]:
df['ремонт'].isna().sum()

480

In [1138]:
df['ремонт'].fillna(' требует ремонта', inplace=True)

In [1139]:
df['ремонт'].value_counts()

 косметический      1661
 евро               1560
 требует ремонта    1229
 дизайнерский        495
Name: ремонт, dtype: int64

In [1140]:
df['отделка'].value_counts()

 предчистовая    229
 без отделки     152
 чистовая         68
Name: отделка, dtype: int64

In [1141]:
df.drop(['отделка'], axis=1, inplace=True)

In [1142]:
df.head()

,ремонт,этажей в доме,количество комнат,площадь кухни,мебель,санузел,высота потолков,парковка,тип дома,"корпус, строение",двор,общая площадь,официальный застройщик,год постройки,тип участия,грузовой лифт,способ продажи,этаж,тёплый пол,окна,вид сделки,пассажирский лифт,балкон или лоджия,техника,в доме,название новостройки,тип комнат,position,price,достроен,не достроен
0,требует ремонта,25,4,10.590054,NaN,NaN,2.711507,NaN,монолитный,дом 4.3,NaN,62.6,ооо «сз «южный парк-4»,2025,дду по фз 214,NaN,NaN,20 из 25,NaN,NaN,NaN,NaN,NaN,NaN,[],жк «южный парк»,изолированные,1000000,8171910,0,1
1,требует ремонта,25,3,10.590054,NaN,NaN,2.711507,NaN,монолитный,дом 4.3,NaN,50.9,ооо «сз «южный парк-4»,2025,дду по фз 214,NaN,NaN,8 из 25,NaN,NaN,NaN,NaN,NaN,NaN,[],жк «южный парк»,изолированные,1000000,6949215,0,1
2,косметический,9,2,7.700000,"кухня, спальные места",раздельный,2.700000,открытая во дворе,кирпичный,NaN,"детская площадка, спортивная площадка",50.9,NaN,1988,NaN,NaN,альтернативная,2 из 9,NaN,на улицу,NaN,NaN,лоджия,"стиральная машина, посудомоечная машина",[газ],NaN,изолированные,1000000,6490000,1,0
3,требует ремонта,25,3,10.590054,NaN,NaN,2.711507,NaN,монолитный,дом 4.3,NaN,45.2,ооо «сз «южный парк-4»,2025,дду по фз 214,NaN,NaN,11 из 25,NaN,NaN,NaN,NaN,NaN,NaN,[],жк «южный парк»,изолированные,1000000,6156245,0,1
4,дизайнерский,10,1,10.000000,"кухня, хранение одежды",совмещенный,2.800000,подземная,монолитно-кирпичный,NaN,"закрытая территория, детская площадка, спорти...",40.0,NaN,2019,NaN,нет,свободная,3 из 10,NaN,"на улицу, на солнечную сторону",возможна ипотека,1,лоджия,кондиционер,[],NaN,NaN,31,9999999,1,0

In [1143]:
df['мебель'].value_counts()

 кухня, хранение одежды, спальные места    786
 кухня                                     402
 кухня, хранение одежды                    376
 кухня, спальные места                      81
 хранение одежды, спальные места            13
 хранение одежды                            12
 спальные места                              7
Name: мебель, dtype: int64

In [1144]:
df['мебель'].value_counts().sum()

1677

In [1145]:
df['мебель'].fillna('', inplace=True)

In [1146]:
df['мебель']=df['мебель'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [1147]:
df['санузел'].value_counts()

 совмещенный                2758
 раздельный                 1388
 совмещенный, раздельный      70
Name: санузел, dtype: int64

In [1148]:
df['санузел'].value_counts().sum()

4216

In [1149]:
df['санузел'].replace(' совмещенный, раздельный', 'прочее', inplace=True)

In [1150]:
df['санузел'].value_counts()

 совмещенный    2758
 раздельный     1388
прочее            70
Name: санузел, dtype: int64

In [1151]:
df['санузел'].fillna('прочее', inplace=True)

In [1152]:
df['санузел'].value_counts()

 совмещенный    2758
 раздельный     1388
прочее           799
Name: санузел, dtype: int64

In [1153]:
df['санузел'].value_counts().sum()

4945

In [1154]:
df['парковка'].value_counts()

 открытая во дворе                                                                1509
 за шлагбаумом во дворе                                                            236
 подземная                                                                         217
 подземная, за шлагбаумом во дворе                                                 118
 подземная, открытая во дворе                                                      113
                                                                                  ...
 наземная многоуровневая, за шлагбаумом во дворе                                    22
 наземная многоуровневая, открытая во дворе, за шлагбаумом во дворе                 22
 подземная, наземная многоуровневая, открытая во дворе, за шлагбаумом во дворе      18
 подземная, наземная многоуровневая, открытая во дворе                              17
 подземная, наземная многоуровневая, за шлагбаумом во дворе                         10
Name: парковка, Length: 15, dtype: int64

In [1155]:
df['парковка'].value_counts().sum()

2631

In [1156]:
df['парковка'].fillna('', inplace=True)

In [1157]:
df['парковка']=df['парковка'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [1158]:
df['тип дома'].value_counts()

 кирпичный              2547
 панельный               968
 монолитный              701
 монолитно-кирпичный     654
 блочный                  72
 деревянный                3
Name: тип дома, dtype: int64

In [1159]:
df['тип дома'].value_counts().sum()

4945

In [1160]:
df[df['тип дома']==' деревянный']

,ремонт,этажей в доме,количество комнат,площадь кухни,мебель,санузел,высота потолков,парковка,тип дома,"корпус, строение",двор,общая площадь,официальный застройщик,год постройки,тип участия,грузовой лифт,способ продажи,этаж,тёплый пол,окна,вид сделки,пассажирский лифт,балкон или лоджия,техника,в доме,название новостройки,тип комнат,position,price,достроен,не достроен
3065,требует ремонта,3,2,10.0,[],раздельный,3.000000,[открытая во дворе],деревянный,NaN,закрытая территория,66.0,NaN,1905,NaN,нет,свободная,2 из 3,NaN,"во двор, на улицу",возможна ипотека,нет,NaN,кондиционер,[газ],NaN,изолированные,16,4099999,1,0
3941,евро,2,4,7.0,[],совмещенный,2.711507,[открытая во дворе],деревянный,NaN,NaN,67.0,NaN,1938,NaN,NaN,свободная,1 из 2,NaN,NaN,NaN,NaN,NaN,NaN,[],NaN,изолированные,31,5000000,1,0
4614,косметический,3,1,9.8,[],совмещенный,2.711507,[],деревянный,NaN,NaN,37.5,NaN,2020,NaN,NaN,свободная,2 из 3,NaN,NaN,NaN,NaN,лоджия,NaN,[],NaN,NaN,1000000,3000000,1,0

In [1161]:
df[df['тип дома']==' деревянный']['год постройки']

3065    1905
3941    1938
4614    2020
Name: год постройки, dtype: int64

In [1162]:
df.drop(df[df['тип дома']==' деревянный'].index, inplace = True)

In [1163]:
df['тип дома'].value_counts()

 кирпичный              2547
 панельный               968
 монолитный              701
 монолитно-кирпичный     654
 блочный                  72
Name: тип дома, dtype: int64

In [1164]:
df.columns

Index(['ремонт', 'этажей в доме', 'количество комнат', 'площадь кухни',
       'мебель', 'санузел', 'высота потолков', 'парковка', 'тип дома',
       'корпус, строение', 'двор', 'общая площадь', 'официальный застройщик',
       'год постройки', 'тип участия', 'грузовой лифт', 'способ продажи',
       'этаж', 'тёплый пол', 'окна', 'вид сделки', 'пассажирский лифт',
       'балкон или лоджия', 'техника', 'в доме', 'название новостройки',
       'тип комнат', 'position', 'price', 'достроен', 'не достроен'],
      dtype='object')

In [1165]:
df['корпус, строение'].value_counts()

 1 очередь        33
 дом 1            30
 дом 2            22
 дом 4.3          21
 корпус 1         19
                  ..
 пк 10-2           1
 блок 2.1          1
 дом 16а-24        1
 дом 4, блок 1     1
 дом 8             1
Name: корпус, строение, Length: 85, dtype: int64

In [1166]:
df.drop(['корпус, строение'], axis=1, inplace = True)

In [1167]:
df.columns

Index(['ремонт', 'этажей в доме', 'количество комнат', 'площадь кухни',
       'мебель', 'санузел', 'высота потолков', 'парковка', 'тип дома', 'двор',
       'общая площадь', 'официальный застройщик', 'год постройки',
       'тип участия', 'грузовой лифт', 'способ продажи', 'этаж', 'тёплый пол',
       'окна', 'вид сделки', 'пассажирский лифт', 'балкон или лоджия',
       'техника', 'в доме', 'название новостройки', 'тип комнат', 'position',
       'price', 'достроен', 'не достроен'],
      dtype='object')

In [1168]:
df['двор'].value_counts()

 детская площадка, спортивная площадка                         947
 закрытая территория, детская площадка, спортивная площадка    832
 детская площадка                                              467
 закрытая территория, детская площадка                         164
 закрытая территория                                           119
 спортивная площадка                                             9
 закрытая территория, спортивная площадка                        3
Name: двор, dtype: int64

In [1169]:
df['двор'].value_counts().sum()

2541

In [1170]:
df['двор'].fillna('', inplace=True)

In [1171]:
df['двор']=df['двор'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [1172]:
df.head()

,ремонт,этажей в доме,количество комнат,площадь кухни,мебель,санузел,высота потолков,парковка,тип дома,двор,общая площадь,официальный застройщик,год постройки,тип участия,грузовой лифт,способ продажи,этаж,тёплый пол,окна,вид сделки,пассажирский лифт,балкон или лоджия,техника,в доме,название новостройки,тип комнат,position,price,достроен,не достроен
0,требует ремонта,25,4,10.590054,[],прочее,2.711507,[],монолитный,[],62.6,ооо «сз «южный парк-4»,2025,дду по фз 214,NaN,NaN,20 из 25,NaN,NaN,NaN,NaN,NaN,NaN,[],жк «южный парк»,изолированные,1000000,8171910,0,1
1,требует ремонта,25,3,10.590054,[],прочее,2.711507,[],монолитный,[],50.9,ооо «сз «южный парк-4»,2025,дду по фз 214,NaN,NaN,8 из 25,NaN,NaN,NaN,NaN,NaN,NaN,[],жк «южный парк»,изолированные,1000000,6949215,0,1
2,косметический,9,2,7.700000,"[кухня, спальные места]",раздельный,2.700000,[открытая во дворе],кирпичный,"[детская площадка, спортивная площадка]",50.9,NaN,1988,NaN,NaN,альтернативная,2 из 9,NaN,на улицу,NaN,NaN,лоджия,"стиральная машина, посудомоечная машина",[газ],NaN,изолированные,1000000,6490000,1,0
3,требует ремонта,25,3,10.590054,[],прочее,2.711507,[],монолитный,[],45.2,ооо «сз «южный парк-4»,2025,дду по фз 214,NaN,NaN,11 из 25,NaN,NaN,NaN,NaN,NaN,NaN,[],жк «южный парк»,изолированные,1000000,6156245,0,1
4,дизайнерский,10,1,10.000000,"[кухня, хранение одежды]",совмещенный,2.800000,[подземная],монолитно-кирпичный,"[закрытая территория, детская площадка, спорти...",40.0,NaN,2019,NaN,нет,свободная,3 из 10,NaN,"на улицу, на солнечную сторону",возможна ипотека,1,лоджия,кондиционер,[],NaN,NaN,31,9999999,1,0

In [1173]:
df['официальный застройщик'].value_counts()

 ооо сз «арт-стройдом»                                    31
 ооо спецзастройщик «тси»                                 27
 ооо специализированный застройщик «ск «унистройдом-1»    25
 ооо сз «сму88 групп»                                     22
 ооо «сз «южный парк-4»                                   21
                                                          ..
 ооо «дск»                                                 1
 ооо «компроект»                                           1
 ооо «факел»                                               1
 ооо «ива»                                                 1
 ооо «специализированный застройщик «жк «эволюция»         1
Name: официальный застройщик, Length: 75, dtype: int64

In [1174]:
df['официальный застройщик'].value_counts().sum()

438

In [1175]:
df.drop(['официальный застройщик'], axis=1, inplace = True)

In [1176]:
df.columns

Index(['ремонт', 'этажей в доме', 'количество комнат', 'площадь кухни',
       'мебель', 'санузел', 'высота потолков', 'парковка', 'тип дома', 'двор',
       'общая площадь', 'год постройки', 'тип участия', 'грузовой лифт',
       'способ продажи', 'этаж', 'тёплый пол', 'окна', 'вид сделки',
       'пассажирский лифт', 'балкон или лоджия', 'техника', 'в доме',
       'название новостройки', 'тип комнат', 'position', 'price', 'достроен',
       'не достроен'],
      dtype='object')

In [1177]:
df['тип участия'].value_counts()

 дду по фз 214    305
 другое           133
Name: тип участия, dtype: int64

In [1178]:
df.drop(['тип участия'], axis=1, inplace = True)

In [1179]:
df['грузовой лифт'].value_counts()

 1      1141
 нет     675
 2       117
 4         7
 3         2
Name: грузовой лифт, dtype: int64

In [1180]:
df['грузовой лифт'].value_counts().sum()

1942

In [1181]:
df['грузовой лифт'].replace(' нет', 0, inplace=True)
df['грузовой лифт'].replace(' 1', 1, inplace=True)
df['грузовой лифт'].replace(' 2', 1, inplace=True)
df['грузовой лифт'].replace(' 3', 1, inplace=True)
df['грузовой лифт'].replace(' 4', 1, inplace=True)
df['грузовой лифт'].fillna(0,  inplace=True)
df['грузовой лифт']= df['грузовой лифт'].astype(int)

In [1182]:
df['грузовой лифт'].value_counts()

0    3675
1    1267
Name: грузовой лифт, dtype: int64

In [1183]:
df['пассажирский лифт'].value_counts()

 1      1802
 нет     623
 2       277
 3        52
 4        22
Name: пассажирский лифт, dtype: int64

In [1184]:
df['пассажирский лифт'].value_counts().sum()

2776

In [1185]:
df['пассажирский лифт'].replace(' нет', 0, inplace=True)
df['пассажирский лифт'].replace(' 1', 1, inplace=True)
df['пассажирский лифт'].replace(' 2', 1, inplace=True)
df['пассажирский лифт'].replace(' 3', 1, inplace=True)
df['пассажирский лифт'].replace(' 4', 1, inplace=True)
df['пассажирский лифт'].fillna(0,  inplace=True)
df['пассажирский лифт'] = df['пассажирский лифт'].astype(int)

In [1186]:
df['пассажирский лифт'].value_counts()

0    2789
1    2153
Name: пассажирский лифт, dtype: int64

In [1187]:
df['способ продажи'].value_counts()

 свободная                   4232
 альтернативная               250
 переуступка                  163
 договор долевого участия      14
Name: способ продажи, dtype: int64

In [1188]:
df.groupby(by='способ продажи')['price'].mean()

способ продажи
 альтернативная              3.305918e+07
 договор долевого участия    5.321198e+06
 переуступка                 7.130054e+06
 свободная                   6.929204e+06
Name: price, dtype: float64

In [1189]:
df['способ продажи'].value_counts().sum()

4659

In [1190]:
df.shape

(4942, 28)

In [1191]:
df['способ продажи'].fillna('неизвестно', inplace=True)

In [1192]:
df.groupby(by='способ продажи')['price'].mean()

способ продажи
 альтернативная              3.305918e+07
 договор долевого участия    5.321198e+06
 переуступка                 7.130054e+06
 свободная                   6.929204e+06
неизвестно                   7.842969e+06
Name: price, dtype: float64

In [1193]:
df['этаж'].value_counts()

 5 из 5      233
 2 из 5      228
 3 из 5      203
 4 из 5      190
 1 из 5      185
            ...
 19 из 28      1
 20 из 27      1
 5 из 11       1
 18 из 25      1
 4 из 13       1
Name: этаж, Length: 314, dtype: int64

In [1194]:
df['этаж'].value_counts().sum()

4942

In [1195]:
df['этаж'] = df['этаж'].apply(lambda x: int(x.split()[0]))

In [1196]:
df['этаж'].value_counts()

2     704
3     644
1     537
5     535
4     523
     ...
21     13
24     12
23      9
25      5
26      5
Name: этаж, Length: 26, dtype: int64

In [1197]:
df.columns

Index(['ремонт', 'этажей в доме', 'количество комнат', 'площадь кухни',
       'мебель', 'санузел', 'высота потолков', 'парковка', 'тип дома', 'двор',
       'общая площадь', 'год постройки', 'грузовой лифт', 'способ продажи',
       'этаж', 'тёплый пол', 'окна', 'вид сделки', 'пассажирский лифт',
       'балкон или лоджия', 'техника', 'в доме', 'название новостройки',
       'тип комнат', 'position', 'price', 'достроен', 'не достроен'],
      dtype='object')

In [1198]:
df['тёплый пол'].value_counts()

 есть    299
Name: тёплый пол, dtype: int64

In [1199]:
df.drop(['тёплый пол'], axis=1, inplace = True)

In [1200]:
df['окна'].value_counts()

 во двор                                    1517
 во двор, на улицу                           646
 на улицу                                    644
 во двор, на улицу, на солнечную сторону     290
 во двор, на солнечную сторону               251
 на улицу, на солнечную сторону              170
 на солнечную сторону                         79
Name: окна, dtype: int64

In [1201]:
df['окна'].value_counts().sum()

3597

In [1202]:
df['окна'].fillna('', inplace=True)

In [1203]:
df['окна']=df['окна'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [1204]:
df['вид сделки'].value_counts()

 возможна ипотека                  3403
 возможна ипотека, аукцион            3
 продажа доли                         2
 возможна ипотека, продажа доли       1
 аукцион                              1
Name: вид сделки, dtype: int64

In [1205]:
df.drop(['вид сделки'], axis=1, inplace = True)

In [1206]:
df['балкон или лоджия'].value_counts()

 балкон            2188
 лоджия            1485
 балкон, лоджия     180
Name: балкон или лоджия, dtype: int64

In [1207]:
df['балкон или лоджия'].value_counts().sum()

3853

In [1208]:
df['балкон или лоджия'].fillna('нет', inplace=True)

In [1209]:
df['балкон или лоджия']=df['балкон или лоджия'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [1210]:
df['техника'].value_counts()

 холодильник, стиральная машина                                                                            196
 кондиционер                                                                                               142
 кондиционер, холодильник, стиральная машина, посудомоечная машина, водонагреватель                         91
 кондиционер, холодильник, стиральная машина                                                                78
 водонагреватель                                                                                            74
                                                                                                          ...
 стиральная машина, водонагреватель                                                                          5
 стиральная машина, посудомоечная машина, водонагреватель                                                    5
 холодильник, посудомоечная машина, водонагреватель                                                          3
 стиральная машина, посудомоечная машина                                                                     2
 холодильник, плита, микроволновка, стиральная машина, посудомоечная машина, водонагреватель, телевизор      1
Name: техника, Length: 32, dtype: int64

In [1211]:
df['техника'].value_counts().sum()

1048

In [1212]:
df['техника'].fillna('', inplace=True)

In [1213]:
df['техника']=df['техника'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [1214]:
df.columns

Index(['ремонт', 'этажей в доме', 'количество комнат', 'площадь кухни',
       'мебель', 'санузел', 'высота потолков', 'парковка', 'тип дома', 'двор',
       'общая площадь', 'год постройки', 'грузовой лифт', 'способ продажи',
       'этаж', 'окна', 'пассажирский лифт', 'балкон или лоджия', 'техника',
       'в доме', 'название новостройки', 'тип комнат', 'position', 'price',
       'достроен', 'не достроен'],
      dtype='object')

In [1215]:
df['название новостройки'].value_counts()

 жк «крылья»                 31
 жк «атмосфера»              25
 жк «мечта»                  25
 жк «dubrava 2.0»            22
 жк «южный парк»             21
                             ..
 жк «весна»                   1
 жк «уникум на новаторов»     1
 жк «паруса»                  1
 дом по ул. дубравная         1
 жк «эволюция»                1
Name: название новостройки, Length: 75, dtype: int64

In [1216]:
df['название новостройки'].value_counts().sum()

438

In [1217]:
df.drop(['название новостройки'], axis=1, inplace=True)

In [1218]:
df['тип комнат'].value_counts()

 изолированные             2265
 смежные                    202
 изолированные, смежные     122
Name: тип комнат, dtype: int64

In [1219]:
df['тип комнат'].value_counts().sum()

2589

In [1220]:
df.groupby(by='тип комнат')['price'].mean()

тип комнат
 изолированные             8.887633e+06
 изолированные, смежные    1.000407e+07
 смежные                   6.278289e+06
Name: price, dtype: float64

In [1221]:
df['тип комнат'].fillna('прочее', inplace=True)

In [1222]:
df['тип комнат']=df['тип комнат'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [1223]:
df.head()

,ремонт,этажей в доме,количество комнат,площадь кухни,мебель,санузел,высота потолков,парковка,тип дома,двор,общая площадь,год постройки,грузовой лифт,способ продажи,этаж,окна,пассажирский лифт,балкон или лоджия,техника,в доме,тип комнат,position,price,достроен,не достроен
0,требует ремонта,25,4,10.590054,[],прочее,2.711507,[],монолитный,[],62.6,2025,0,неизвестно,20,[],0,[нет],[],[],[изолированные],1000000,8171910,0,1
1,требует ремонта,25,3,10.590054,[],прочее,2.711507,[],монолитный,[],50.9,2025,0,неизвестно,8,[],0,[нет],[],[],[изолированные],1000000,6949215,0,1
2,косметический,9,2,7.700000,"[кухня, спальные места]",раздельный,2.700000,[открытая во дворе],кирпичный,"[детская площадка, спортивная площадка]",50.9,1988,0,альтернативная,2,[на улицу],0,[лоджия],"[стиральная машина, посудомоечная машина]",[газ],[изолированные],1000000,6490000,1,0
3,требует ремонта,25,3,10.590054,[],прочее,2.711507,[],монолитный,[],45.2,2025,0,неизвестно,11,[],0,[нет],[],[],[изолированные],1000000,6156245,0,1
4,дизайнерский,10,1,10.000000,"[кухня, хранение одежды]",совмещенный,2.800000,[подземная],монолитно-кирпичный,"[закрытая территория, детская площадка, спорти...",40.0,2019,0,свободная,3,"[на улицу, на солнечную сторону]",1,[лоджия],[кондиционер],[],[прочее],31,9999999,1,0

In [1224]:
df['тип дома']

0                 монолитный
1                 монолитный
2                  кирпичный
3                 монолитный
4        монолитно-кирпичный
                ...
4968               кирпичный
4969               кирпичный
4970               кирпичный
4971               кирпичный
4972               кирпичный
Name: тип дома, Length: 4942, dtype: object

In [1225]:
df.describe()

,этажей в доме,количество комнат,площадь кухни,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,position,price,достроен,не достроен
count,4942.000000,4942.000000,4942.000000,4942.000000,4942.000000,4942.000000,4942.000000,4942.000000,4942.000000,4942.000000,4.942000e+03,4942.000000,4942.000000
mean,10.846621,1.686766,10.576568,2.711449,50.564205,2007.151558,0.256374,5.967624,0.435654,344204.929178,8.305432e+06,0.946783,0.053217
std,6.268462,0.918575,5.589341,0.205725,27.718343,21.294351,0.436675,4.687628,0.495892,475143.434926,6.741227e+07,0.224489,0.224489
min,1.000000,0.000000,2.000000,0.000000,10.000000,1890.000000,0.000000,1.000000,0.000000,5.000000,6.500000e+05,0.000000,0.000000
25%,5.000000,1.000000,7.600000,2.711507,35.000000,1998.250000,0.000000,2.000000,0.000000,16.000000,4.550000e+06,1.000000,0.000000
50%,9.000000,2.000000,10.000000,2.711507,45.000000,2019.000000,0.000000,5.000000,0.000000,31.000000,5.955000e+06,1.000000,0.000000
75%,16.000000,2.000000,12.000000,2.711507,60.500000,2022.000000,1.000000,8.000000,1.000000,1000000.000000,7.949000e+06,1.000000,0.000000
max,38.000000,4.000000,95.000000,6.000000,1000.000000,2025.000000,1.000000,26.000000,1.000000,1000000.000000,3.350000e+09,1.000000,1.000000

In [1226]:
categorial_columns = list(set(df.columns) - set(df.describe().columns))

In [1227]:
categorial_columns

['окна',
 'тип комнат',
 'способ продажи',
 'ремонт',
 'техника',
 'мебель',
 'в доме',
 'санузел',
 'парковка',
 'двор',
 'балкон или лоджия',
 'тип дома']

In [1228]:
df[categorial_columns]

,окна,тип комнат,способ продажи,ремонт,техника,мебель,в доме,санузел,парковка,двор,балкон или лоджия,тип дома
0,[],[изолированные],неизвестно,требует ремонта,[],[],[],прочее,[],[],[нет],монолитный
1,[],[изолированные],неизвестно,требует ремонта,[],[],[],прочее,[],[],[нет],монолитный
2,[на улицу],[изолированные],альтернативная,косметический,"[стиральная машина, посудомоечная машина]","[кухня, спальные места]",[газ],раздельный,[открытая во дворе],"[детская площадка, спортивная площадка]",[лоджия],кирпичный
3,[],[изолированные],неизвестно,требует ремонта,[],[],[],прочее,[],[],[нет],монолитный
4,"[на улицу, на солнечную сторону]",[прочее],свободная,дизайнерский,[кондиционер],"[кухня, хранение одежды]",[],совмещенный,[подземная],"[закрытая территория, детская площадка, спорти...",[лоджия],монолитно-кирпичный
...,...,...,...,...,...,...,...,...,...,...,...,...
4968,[во двор],[изолированные],свободная,требует ремонта,[],[],[газ],раздельный,[открытая во дворе],"[детская площадка, спортивная площадка]",[лоджия],кирпичный
4969,[во двор],[прочее],свободная,требует ремонта,[],[],[],совмещенный,[],[],[балкон],кирпичный
4970,[],"[изолированные, смежные]",свободная,дизайнерский,[],[],[газ],раздельный,[],"[детская площадка, спортивная площадка]",[лоджия],кирпичный
4971,"[во двор, на улицу, на солнечную сторону]",[изолированные],свободная,евро,[водонагреватель],"[кухня, хранение одежды]",[мусоропровод],раздельный,[открытая во дворе],[детская площадка],[лоджия],кирпичный
4972,"[во двор, на улицу]",[изолированные],свободная,евро,[],"[кухня, хранение одежды, спальные места]",[],раздельный,[за шлагбаумом во дворе],"[закрытая территория, детская площадка, спорти...","[балкон, лоджия]",кирпичный

In [1229]:
list_cat = ['тип дома', 'ремонт', 'санузел', 'способ продажи']

In [1230]:
from sklearn.preprocessing import OneHotEncoder

In [1231]:
for item in list_cat:
    ohe = OneHotEncoder()
    array_hot_encoded = ohe.fit_transform(df[item].values.reshape(-1, 1)).toarray()
    df.drop(columns=[item], inplace=True)
    data_hot_encoded = pd.DataFrame(array_hot_encoded, columns=[f"{item}_{i}" for i in range(array_hot_encoded.shape[1])], index=df.index)
    df = pd.concat([df, data_hot_encoded], axis=1)

In [1232]:
df.head()

,этажей в доме,количество комнат,площадь кухни,мебель,высота потолков,парковка,двор,общая площадь,год постройки,грузовой лифт,этаж,окна,пассажирский лифт,балкон или лоджия,техника,в доме,тип комнат,position,price,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4
0,25,4,10.590054,[],2.711507,[],[],62.6,2025,0,20,[],0,[нет],[],[],[изолированные],1000000,8171910,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,25,3,10.590054,[],2.711507,[],[],50.9,2025,0,8,[],0,[нет],[],[],[изолированные],1000000,6949215,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,9,2,7.700000,"[кухня, спальные места]",2.700000,[открытая во дворе],"[детская площадка, спортивная площадка]",50.9,1988,0,2,[на улицу],0,[лоджия],"[стиральная машина, посудомоечная машина]",[газ],[изолированные],1000000,6490000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,25,3,10.590054,[],2.711507,[],[],45.2,2025,0,11,[],0,[нет],[],[],[изолированные],1000000,6156245,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,10,1,10.000000,"[кухня, хранение одежды]",2.800000,[подземная],"[закрытая территория, детская площадка, спорти...",40.0,2019,0,3,"[на улицу, на солнечную сторону]",1,[лоджия],[кондиционер],[],[прочее],31,9999999,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [1233]:
df['двор'].value_counts()

[]                                                              2401
[детская площадка, спортивная площадка]                          947
[закрытая территория, детская площадка, спортивная площадка]     832
[детская площадка]                                               467
[закрытая территория, детская площадка]                          164
[закрытая территория]                                            119
[спортивная площадка]                                              9
[закрытая территория, спортивная площадка]                         3
Name: двор, dtype: int64

In [1234]:
from functools import reduce

In [1235]:
categorial_columns_ = list(set(df.columns) - set(df.describe().columns))

In [1236]:
def contain(row, value):
    if value in row:
        return 1
    else:
        return 0

In [1237]:
for column_name in categorial_columns_:
    unique_value = reduce(np.union1d, df[column_name].values)
    unique_value = np.delete(unique_value, np.argwhere(unique_value == ''))
    for item in unique_value:
        df[column_name+' '+item] = df[column_name].apply(lambda x: contain(x, item))
    df.drop([column_name], axis=1, inplace=True)

In [1238]:
df

,этажей в доме,количество комнат,площадь кухни,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,position,price,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,тип комнат изолированные,тип комнат прочее,тип комнат смежные,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,мебель кухня,мебель спальные места,мебель хранение одежды,в доме газ,в доме консьерж,в доме мусоропровод,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,двор детская площадка,двор закрытая территория,двор спортивная площадка,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет
0,25,4,10.590054,2.711507,62.6,2025,0,20,0,1000000,8171910,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,25,3,10.590054,2.711507,50.9,2025,0,8,0,1000000,6949215,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,9,2,7.700000,2.700000,50.9,1988,0,2,0,1000000,6490000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,1,1,0,1,0,0,0,0,1,0,1,0,1,0,1,0
3,25,3,10.590054,2.711507,45.2,2025,0,11,0,1000000,6156245,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,10,1,10.000000,2.800000,40.0,2019,0,3,1,31,9999999,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2,7.000000,2.500000,49.1,1980,0,4,1,21,5300000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,1,0
4969,3,1,11.100000,2.711507,35.2,2022,0,1,0,1000000,3360000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4970,10,4,18.400000,2.711507,81.4,2014,0,6,1,21,10990000,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
4971,5,3,12.000000,2.500000,94.1,2006,0,3,0,16,12990000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0
4972,4,3,20.000000,3.200000,114.0,1938,0,3,0,16,26600000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1,0,0,0,1,1,1,1,1,0

In [1239]:
pd.options.display.max_columns = None
# pd.options.display.max_rows = None

In [1240]:
df

,этажей в доме,количество комнат,площадь кухни,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,position,price,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,тип комнат изолированные,тип комнат прочее,тип комнат смежные,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,мебель кухня,мебель спальные места,мебель хранение одежды,в доме газ,в доме консьерж,в доме мусоропровод,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,двор детская площадка,двор закрытая территория,двор спортивная площадка,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет
0,25,4,10.590054,2.711507,62.6,2025,0,20,0,1000000,8171910,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,25,3,10.590054,2.711507,50.9,2025,0,8,0,1000000,6949215,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,9,2,7.700000,2.700000,50.9,1988,0,2,0,1000000,6490000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,1,1,0,1,0,0,0,0,1,0,1,0,1,0,1,0
3,25,3,10.590054,2.711507,45.2,2025,0,11,0,1000000,6156245,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,10,1,10.000000,2.800000,40.0,2019,0,3,1,31,9999999,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2,7.000000,2.500000,49.1,1980,0,4,1,21,5300000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,1,0
4969,3,1,11.100000,2.711507,35.2,2022,0,1,0,1000000,3360000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4970,10,4,18.400000,2.711507,81.4,2014,0,6,1,21,10990000,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
4971,5,3,12.000000,2.500000,94.1,2006,0,3,0,16,12990000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0
4972,4,3,20.000000,3.200000,114.0,1938,0,3,0,16,26600000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1,0,0,0,1,1,1,1,1,0

In [1241]:
df = df.rename(columns={'position': 'метро', 'price': 'цена'})

In [1242]:
df

,этажей в доме,количество комнат,площадь кухни,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,метро,цена,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,тип комнат изолированные,тип комнат прочее,тип комнат смежные,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,мебель кухня,мебель спальные места,мебель хранение одежды,в доме газ,в доме консьерж,в доме мусоропровод,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,двор детская площадка,двор закрытая территория,двор спортивная площадка,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет
0,25,4,10.590054,2.711507,62.6,2025,0,20,0,1000000,8171910,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,25,3,10.590054,2.711507,50.9,2025,0,8,0,1000000,6949215,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,9,2,7.700000,2.700000,50.9,1988,0,2,0,1000000,6490000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,1,1,0,1,0,0,0,0,1,0,1,0,1,0,1,0
3,25,3,10.590054,2.711507,45.2,2025,0,11,0,1000000,6156245,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,10,1,10.000000,2.800000,40.0,2019,0,3,1,31,9999999,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2,7.000000,2.500000,49.1,1980,0,4,1,21,5300000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,1,0
4969,3,1,11.100000,2.711507,35.2,2022,0,1,0,1000000,3360000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4970,10,4,18.400000,2.711507,81.4,2014,0,6,1,21,10990000,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
4971,5,3,12.000000,2.500000,94.1,2006,0,3,0,16,12990000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0
4972,4,3,20.000000,3.200000,114.0,1938,0,3,0,16,26600000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1,0,0,0,1,1,1,1,1,0

In [1243]:
from sklearn.linear_model import LinearRegression
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [1244]:
y = df['цена']

In [1245]:
X = df.drop(['цена'], axis=1)

In [1246]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [1247]:
# reg = LinearRegression().fit(X_train, y_train)
# y_pred = reg.predict(X_test)

# ME = metrics.max_error(y_test, y_pred)
# MAE= metrics.mean_absolute_error(y_test, y_pred)
# MSE=metrics.mean_squared_error(y_test, y_pred)
# RMSE= np.sqrt(MSE)

In [1248]:
clf = tree.DecisionTreeRegressor()
scores = cross_validate(clf, X, y, cv=5, scoring=('r2', 'neg_mean_squared_error'), return_train_score=True)

In [1249]:
scores

{'fit_time': array([0.05288243, 0.04489088, 0.04489326, 0.04389215, 0.04289579]),
 'score_time': array([0.00199509, 0.0019598 , 0.00198174, 0.00198388, 0.00198984]),
 'test_r2': array([ 9.99725645e-01, -2.38810516e-03,  2.03689305e-01,  7.08692034e-01,
        -3.76589208e+02]),
 'train_r2': array([1., 1., 1., 1., 1.]),
 'test_neg_mean_squared_error': array([-3.10278953e+12, -1.13396843e+16, -9.12911852e+12, -8.20477945e+12,
        -1.13571894e+16]),
 'train_neg_mean_squared_error': array([      -0.       , -1686482.8400371,       -0.       ,
        -1686056.3142809, -1686056.3142809])}

In [1250]:
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores['test_r2'].mean(), scores['test_r2'].std()))

-74.94 accuracy with a standard deviation of 150.83

In [1251]:
clf = clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

ME = metrics.max_error(y_test, y_pred)
MAE = metrics.mean_absolute_error(y_test, y_pred)
MSE = metrics.mean_squared_error(y_test, y_pred)
RMSE = np.sqrt(MSE)

In [1252]:
print(f"ME = {ME}\nMAE = {MAE}\nMSE = {MSE}\nRMSE = {RMSE}")

ME = 34700000.0
MAE = 1277001.7363580626
MSE = 8999923799048.947
RMSE = 2999987.299814609

In [1253]:
df

,этажей в доме,количество комнат,площадь кухни,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,метро,цена,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,тип комнат изолированные,тип комнат прочее,тип комнат смежные,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,мебель кухня,мебель спальные места,мебель хранение одежды,в доме газ,в доме консьерж,в доме мусоропровод,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,двор детская площадка,двор закрытая территория,двор спортивная площадка,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет
0,25,4,10.590054,2.711507,62.6,2025,0,20,0,1000000,8171910,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,25,3,10.590054,2.711507,50.9,2025,0,8,0,1000000,6949215,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,9,2,7.700000,2.700000,50.9,1988,0,2,0,1000000,6490000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,1,1,0,1,0,0,0,0,1,0,1,0,1,0,1,0
3,25,3,10.590054,2.711507,45.2,2025,0,11,0,1000000,6156245,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,10,1,10.000000,2.800000,40.0,2019,0,3,1,31,9999999,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2,7.000000,2.500000,49.1,1980,0,4,1,21,5300000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,1,0
4969,3,1,11.100000,2.711507,35.2,2022,0,1,0,1000000,3360000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4970,10,4,18.400000,2.711507,81.4,2014,0,6,1,21,10990000,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
4971,5,3,12.000000,2.500000,94.1,2006,0,3,0,16,12990000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0
4972,4,3,20.000000,3.200000,114.0,1938,0,3,0,16,26600000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1,0,0,0,1,1,1,1,1,0

In [1254]:
def metro_avaliable(value):
    return "шаговая доступность" if value<=15 else "не шаговая доступность"

In [1255]:
df['метро'] = df['метро'].apply(metro_avaliable)

In [1256]:
df

,этажей в доме,количество комнат,площадь кухни,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,метро,цена,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,тип комнат изолированные,тип комнат прочее,тип комнат смежные,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,мебель кухня,мебель спальные места,мебель хранение одежды,в доме газ,в доме консьерж,в доме мусоропровод,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,двор детская площадка,двор закрытая территория,двор спортивная площадка,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет
0,25,4,10.590054,2.711507,62.6,2025,0,20,0,не шаговая доступность,8171910,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,25,3,10.590054,2.711507,50.9,2025,0,8,0,не шаговая доступность,6949215,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,9,2,7.700000,2.700000,50.9,1988,0,2,0,не шаговая доступность,6490000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,1,1,0,1,0,0,0,0,1,0,1,0,1,0,1,0
3,25,3,10.590054,2.711507,45.2,2025,0,11,0,не шаговая доступность,6156245,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,10,1,10.000000,2.800000,40.0,2019,0,3,1,не шаговая доступность,9999999,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2,7.000000,2.500000,49.1,1980,0,4,1,не шаговая доступность,5300000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,1,0
4969,3,1,11.100000,2.711507,35.2,2022,0,1,0,не шаговая доступность,3360000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4970,10,4,18.400000,2.711507,81.4,2014,0,6,1,не шаговая доступность,10990000,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
4971,5,3,12.000000,2.500000,94.1,2006,0,3,0,не шаговая доступность,12990000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0
4972,4,3,20.000000,3.200000,114.0,1938,0,3,0,не шаговая доступность,26600000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1,0,0,0,1,1,1,1,1,0

In [1257]:
ohe = OneHotEncoder()
array_hot_encoded = ohe.fit_transform(df['метро'].values.reshape(-1, 1)).toarray()
df.drop(columns=['метро'], inplace=True)
data_hot_encoded = pd.DataFrame(array_hot_encoded, columns=[f"метро_{i}" for i in range(array_hot_encoded.shape[1])], index=df.index)
df = pd.concat([df, data_hot_encoded], axis=1)

In [1258]:
df

,этажей в доме,количество комнат,площадь кухни,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,цена,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,тип комнат изолированные,тип комнат прочее,тип комнат смежные,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,мебель кухня,мебель спальные места,мебель хранение одежды,в доме газ,в доме консьерж,в доме мусоропровод,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,двор детская площадка,двор закрытая территория,двор спортивная площадка,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет,метро_0,метро_1
0,25,4,10.590054,2.711507,62.6,2025,0,20,0,8171910,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0
1,25,3,10.590054,2.711507,50.9,2025,0,8,0,6949215,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0
2,9,2,7.700000,2.700000,50.9,1988,0,2,0,6490000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,1,1,0,1,0,0,0,0,1,0,1,0,1,0,1,0,1.0,0.0
3,25,3,10.590054,2.711507,45.2,2025,0,11,0,6156245,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0
4,10,1,10.000000,2.800000,40.0,2019,0,3,1,9999999,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,1,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2,7.000000,2.500000,49.1,1980,0,4,1,5300000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,1,0,1.0,0.0
4969,3,1,11.100000,2.711507,35.2,2022,0,1,0,3360000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1.0,0.0
4970,10,4,18.400000,2.711507,81.4,2014,0,6,1,10990000,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,1.0,0.0
4971,5,3,12.000000,2.500000,94.1,2006,0,3,0,12990000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0,1.0,0.0
4972,4,3,20.000000,3.200000,114.0,1938,0,3,0,26600000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1,0,0,0,1,1,1,1,1,0,1.0,0.0

In [1259]:
df.drop(['количество комнат', 'площадь кухни'], axis=1, inplace=True)

In [1260]:
df

,этажей в доме,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,цена,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,тип комнат изолированные,тип комнат прочее,тип комнат смежные,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,мебель кухня,мебель спальные места,мебель хранение одежды,в доме газ,в доме консьерж,в доме мусоропровод,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,двор детская площадка,двор закрытая территория,двор спортивная площадка,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет,метро_0,метро_1
0,25,2.711507,62.6,2025,0,20,0,8171910,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0
1,25,2.711507,50.9,2025,0,8,0,6949215,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0
2,9,2.700000,50.9,1988,0,2,0,6490000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,1,1,0,1,0,0,0,0,1,0,1,0,1,0,1,0,1.0,0.0
3,25,2.711507,45.2,2025,0,11,0,6156245,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0
4,10,2.800000,40.0,2019,0,3,1,9999999,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,1,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2.500000,49.1,1980,0,4,1,5300000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,1,0,1.0,0.0
4969,3,2.711507,35.2,2022,0,1,0,3360000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1.0,0.0
4970,10,2.711507,81.4,2014,0,6,1,10990000,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,1.0,0.0
4971,5,2.500000,94.1,2006,0,3,0,12990000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0,1.0,0.0
4972,4,3.200000,114.0,1938,0,3,0,26600000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1,0,0,0,1,1,1,1,1,0,1.0,0.0

In [1261]:
df['цена за метр'] = df['цена']/df['общая площадь']

In [1262]:
df.drop(['цена'], axis=1, inplace=True)

In [1263]:
df['лифт'] = df.apply(lambda x: x['грузовой лифт']+x['пассажирский лифт'], axis=1)

In [1264]:
df['лифт'].value_counts()

0.0    2630
1.0    1204
2.0    1108
Name: лифт, dtype: int64

In [1265]:
def elevator(value):
    return 0 if value==0 else 1
df['лифт'] = df['лифт'].apply(elevator)

In [1266]:
ohe = OneHotEncoder()
array_hot_encoded = ohe.fit_transform(df['лифт'].values.reshape(-1, 1)).toarray()
df.drop(columns=['лифт'], inplace=True)
data_hot_encoded = pd.DataFrame(array_hot_encoded, columns=[f"лифт_{i}" for i in range(array_hot_encoded.shape[1])], index=df.index)
df = pd.concat([df, data_hot_encoded], axis=1)

In [1267]:
df

,этажей в доме,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,тип комнат изолированные,тип комнат прочее,тип комнат смежные,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,мебель кухня,мебель спальные места,мебель хранение одежды,в доме газ,в доме консьерж,в доме мусоропровод,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,двор детская площадка,двор закрытая территория,двор спортивная площадка,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет,метро_0,метро_1,цена за метр,лифт_0,лифт_1
0,25,2.711507,62.6,2025,0,20,0,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,130541.693291,1.0,0.0
1,25,2.711507,50.9,2025,0,8,0,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,136526.817289,1.0,0.0
2,9,2.700000,50.9,1988,0,2,0,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0,0,0,0,0,1,1,0,0,1,1,0,1,0,0,0,0,1,0,1,0,1,0,1,0,1.0,0.0,127504.911591,1.0,0.0
3,25,2.711507,45.2,2025,0,11,0,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,136200.110619,1.0,0.0
4,10,2.800000,40.0,2019,0,3,1,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,1,1,1,0,1,0,1.0,0.0,249999.975000,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2.500000,49.1,1980,0,4,1,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,1,0,1,0,1.0,0.0,107942.973523,0.0,1.0
4969,3,2.711507,35.2,2022,0,1,0,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1.0,0.0,95454.545455,1.0,0.0
4970,10,2.711507,81.4,2014,0,6,1,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,1.0,0.0,135012.285012,0.0,1.0
4971,5,2.500000,94.1,2006,0,3,0,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0,1.0,0.0,138044.633369,1.0,0.0
4972,4,3.200000,114.0,1938,0,3,0,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,1,0,0,0,1,1,1,1,1,0,1.0,0.0,233333.333333,1.0,0.0

In [1268]:
# df['возраст дома']=df['год постройки'].apply(lambda x: (2022-x) if (2022-x)>0 else 0)
# pd.set_option('display.max_rows', None)

In [1269]:
features = [
            'этажей в доме',
            'высота потолков',
            'общая площадь',
            'год постройки',
            'этаж',
            'метро_0',
            'метро_1',
            'лифт_0',
            'лифт_1',
]
for feature in features:
    print(feature)
    print(df[feature].value_counts())
    print("------------------------")

этажей в доме
5     1039
9      829
10     689
19     360
3      279
      ...
1        1
38       1
28       1
35       1
36       1
Name: этажей в доме, Length: 32, dtype: int64
------------------------
высота потолков
2.711507    3158
2.700000     649
2.800000     288
2.600000     284
3.000000     220
            ...
1.800000       1
2.000000       1
2.570000       1
4.000000       1
4.500000       1
Name: высота потолков, Length: 32, dtype: int64
------------------------
общая площадь
35.0     70
38.0     68
32.0     63
31.0     60
37.0     57
         ..
106.8     1
15.2      1
239.0     1
102.8     1
88.5      1
Name: общая площадь, Length: 830, dtype: int64
------------------------
год постройки
2022    1736
2021     286
2023     143
2019     134
2020     120
        ...
1949       1
1939       1
1930       1
1890       1
1938       1
Name: год постройки, Length: 90, dtype: int64
------------------------
этаж
2     704
3     644
1     537
5     535
4     523
     ...
21     13
24     12
23      9
25      5
26      5
Name: этаж, Length: 26, dtype: int64
------------------------
метро_0
1.0    3770
0.0    1172
Name: метро_0, dtype: int64
------------------------
метро_1
0.0    3770
1.0    1172
Name: метро_1, dtype: int64
------------------------
лифт_0
1.0    2630
0.0    2312
Name: лифт_0, dtype: int64
------------------------
лифт_1
0.0    2630
1.0    2312
Name: лифт_1, dtype: int64
------------------------

In [1270]:
# df['высота потолков'].quantile(0.25)

In [1271]:
# df['высота потолков'].quantile(0.5)

In [1272]:
# df['высота потолков'].quantile(0.75)

In [1273]:
# если этаж первый - добавим новую фичу первый этаж, если последний - последний

In [1274]:
# высота потолков
def ceiling_height(value):
    if value<=2.8:
        return 1
    else:
        return 2
df['высота потолков'] = df['высота потолков'].apply(ceiling_height)

In [1275]:
df['высота потолков'].value_counts()

1    4609
2     333
Name: высота потолков, dtype: int64

In [1276]:
ohe = OneHotEncoder()
array_hot_encoded = ohe.fit_transform(df['высота потолков'].values.reshape(-1, 1)).toarray()
df.drop(columns=['высота потолков'], inplace=True)
data_hot_encoded = pd.DataFrame(array_hot_encoded, columns=[f"высота потолков_{i}" for i in range(array_hot_encoded.shape[1])], index=df.index)
df = pd.concat([df, data_hot_encoded], axis=1)

In [1277]:
# этажей в доме
def levels_in_house(value):
    if value<=5:
        return 1
    elif value>5 and value<=10:
        return 2
    elif value>10 and value<=20:
        return 3
    else:
        return 4
df['этажей в доме'] = df['этажей в доме'].apply(levels_in_house)

In [1278]:
df['этажей в доме'].value_counts()

2    1807
1    1486
3    1296
4     353
Name: этажей в доме, dtype: int64

In [1279]:
tmp = pd.concat([df[df['этажей в доме']==4]]*4)
df = pd.concat([df,tmp])

In [1280]:
# ohe = OneHotEncoder()
# array_hot_encoded = ohe.fit_transform(df['этажей в доме'].values.reshape(-1, 1)).toarray()
# df.drop(columns=['этажей в доме'], inplace=True)
# data_hot_encoded = pd.DataFrame(array_hot_encoded, columns=[f"этажей в доме_{i}" for i in range(array_hot_encoded.shape[1])], index=df.index)
# df = pd.concat([df, data_hot_encoded], axis=1)

In [1281]:
# # общая площадь
# df['общая площадь'] = df['общая площадь'].round()

In [1282]:
ldict = dict(df['общая площадь'].value_counts())
lkeys = ldict.keys()
n = 1
for item in lkeys:
    level = ldict[item]
    if level>47:
        continue
    if 30<=level and level<47:
        n = 2
    elif 20<=level and level<30:
        n = 3
    elif 10<=level and level<20:
        n = 5
    elif 5<=level and level<10:
        n = 9
    elif 2<=level and level<5:
        n = 25
    else:
        n = 6
    tmp = pd.concat([df[df['этаж']==item]]*n)
    df = pd.concat([df,tmp])

In [1283]:
# df['общая площадь'].quantile(0.25)

In [1284]:
# df['общая площадь'].quantile(0.5)

In [1285]:
# df['общая площадь'].quantile(0.75)

In [1286]:
# def square_apartment(value):
#     if value<=35:
#         return 1
#     elif value<=45:
#         return 2
#     elif value<=60:
#         return 3
#     else:
#         return 4
# df['общая площадь'] = df['общая площадь'].apply(square_apartment)

In [1287]:
# df['общая площадь'].value_counts()

In [1288]:
# ohe = OneHotEncoder()
# array_hot_encoded = ohe.fit_transform(df['общая площадь'].values.reshape(-1, 1)).toarray()
# df.drop(columns=['общая площадь'], inplace=True)
# data_hot_encoded = pd.DataFrame(array_hot_encoded, columns=[f"общая площадь_{i}" for i in range(array_hot_encoded.shape[1])], index=df.index)
# df = pd.concat([df, data_hot_encoded], axis=1)

In [1289]:
# df['этаж'].value_counts()

In [1290]:
# # этаж
# def levels_in_house(value):
#     if value<=5:
#         return 1
#     elif value>5 and value<=10:
#         return 2
#     elif value>10 and value<=20:
#         return 3
#     else:
#         return 4
# df['этаж'] = df['этаж'].apply(levels_in_house)

In [1291]:
def square_ap(value):
    if value<df['общая площадь'].quantile(0.1):
        return 1
    elif value<df['общая площадь'].quantile(0.2):
        return 2
    elif value<df['общая площадь'].quantile(0.3):
        return 3
    elif value<df['общая площадь'].quantile(0.4):
        return 4
    elif value<df['общая площадь'].quantile(0.5):
        return 5
    elif value<df['общая площадь'].quantile(0.6):
        return 6
    elif value<df['общая площадь'].quantile(0.7):
        return 7
    elif value<df['общая площадь'].quantile(0.8):
        return 8
    elif value<df['общая площадь'].quantile(0.9):
        return 9
    return 10

In [1292]:
# df['общая площадь'] = df['общая площадь'].apply(square_ap)

In [1293]:
# def year_ap(value):
#     if value<df['год постройки'].quantile(0.1):
#         return 1
#     elif value<df['год постройки'].quantile(0.2):
#         return 2
#     elif value<df['год постройки'].quantile(0.3):
#         return 3
#     elif value<df['год постройки'].quantile(0.4):
#         return 4
#     elif value<df['год постройки'].quantile(0.5):
#         return 5
#     elif value<df['год постройки'].quantile(0.6):
#         return 6
#     elif value<df['год постройки'].quantile(0.7):
#         return 7
#     elif value<df['год постройки'].quantile(0.8):
#         return 8
#     elif value<df['год постройки'].quantile(0.9):
#         return 9
#     return 10

In [1294]:
# df['год постройки'] = df['год постройки'].apply(year_ap)

In [1295]:
# tmp = pd.concat([df[df['этаж']==4]]*4)
# df = pd.concat([df,tmp])

In [1296]:
# этаж
ldict = dict(df['этаж'].value_counts())
lkeys = ldict.keys()
n = 1
for item in lkeys:
    level = ldict[item]
    if level>400:
        continue
    if 300<=level and level<400:
        n = 2
    elif 200<=level and level<300:
        n = 3
    elif 100<=level and level<200:
        n = 5
    elif 90<=level and level<100:
        n = 6
    elif 80<=level and level<90:
        n = 8
    elif 70<=level and level<80:
        n = 9
    elif 60<=level and level<70:
        n = 10
    elif 50<=level and level<60:
        n = 11
    elif 40<=level and level<50:
        n = 15
    elif 30<=level and level<40:
        n = 20
    elif 20<=level and level<30:
        n = 30
    elif 10<=level and level<20:
        n = 60
    elif 7<=level and level<10:
        n = 100
    else:
        n = 130
    tmp = pd.concat([df[df['этаж']==item]]*n)
    df = pd.concat([df,tmp])

In [1297]:
df.shape

(27596, 62)

In [1298]:
# from sklearn import preprocessing
# for item in [
#     'этажей в доме',
# #     'высота потолков',
#     'общая площадь',
#     'год постройки',
#     'этаж'
# ]:
#     df[item]= preprocessing.normalize(df[item].values.reshape(-1, 1), norm='l1')

In [1299]:
y = df['цена за метр']
features = [
            'этажей в доме',
#             'этажей в доме_1',
#             'этажей в доме_2',
#             'этажей в доме_3',
#             'высота потолков_0',
#             'высота потолков_1',
            'общая площадь',
#             'общая площадь_1',
#             'общая площадь_2',
#             'возраст дома',
            'год постройки',
            'этаж',
            'метро_0',
            'метро_1',
#             'лифт_0',
#             'лифт_1',
#             'окна во двор',
#             'окна на солнечную сторону',
#             'окна на улицу'
           ]
X = df[features]

In [1300]:
# ,'тип дома_0','тип дома_1','тип дома_2','тип дома_3','тип дома_4',
            
#             'парковка за шлагбаумом во дворе','парковка наземная многоуровневая','парковка открытая во дворе','парковка подземная',
            
#             'мебель кухня','мебель спальные места','мебель хранение одежды'
#             'окна во двор','окна на солнечную сторону','окна на улицу'

In [1301]:
# from sklearn.linear_model import LinearRegression
# from sklearn.model_selection import train_test_split
# from sklearn import metrics

In [1302]:
# from sklearn.model_selection import cross_val_score
# from sklearn.model_selection import cross_validate

In [1303]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=45)

In [1304]:
clf = tree.DecisionTreeRegressor()
scores = cross_validate(clf, X, y, cv=5, scoring=('r2', 'neg_mean_squared_error'), return_train_score=True)

In [1305]:
scores

{'fit_time': array([0.02591825, 0.03091717, 0.02991986, 0.02991962, 0.03091717]),
 'score_time': array([0.00199485, 0.00199509, 0.00199461, 0.00199509, 0.00199485]),
 'test_r2': array([-1.10536241e-05,  9.98701349e-01,  9.94511785e-01,  9.95947235e-01,
         9.92085358e-01]),
 'train_r2': array([0.99563486, 0.99999366, 0.99999431, 0.99999404, 0.9999949 ]),
 'test_neg_mean_squared_error': array([-7.41046884e+12, -2.48766641e+06, -7.30802222e+06, -5.32358510e+06,
        -1.16480266e+07]),
 'train_neg_mean_squared_error': array([ -6670215.68668226, -11748467.47161918, -10544074.71351349,
        -11057008.29214357,  -9458481.16460128])}

In [1306]:
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores['test_r2'].mean(), scores['test_r2'].std()))

0.80 accuracy with a standard deviation of 0.40

In [1307]:
clf = clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

ME = metrics.max_error(y_test, y_pred)
MAE= metrics.mean_absolute_error(y_test, y_pred)
MSE=metrics.mean_squared_error(y_test, y_pred)
RMSE= np.sqrt(MSE)

In [1308]:
print(f"ME = {ME}\nMAE = {MAE}\nMSE = {MSE}\nRMSE = {RMSE}")

ME = 142963145.04209244
MAE = 18802.93312073858
MSE = 2244457132143.137
RMSE = 1498151.2380741595

In [1309]:
print(f"R2 score = {metrics.r2_score(y_test,y_pred)}")

R2 score = -1457.489748063869

In [1310]:
from sklearn.ensemble import GradientBoostingRegressor
params = {
    "n_estimators": 500,
    "max_depth": 4,
    "min_samples_split": 5,
    "learning_rate": 0.01,
    "loss": "squared_error",
}
reg = GradientBoostingRegressor(**params)
scores = cross_validate(reg, X, y, cv=5, scoring=('r2', 'neg_mean_squared_error'), return_train_score=True)

In [1311]:
scores

{'fit_time': array([4.31948423, 4.92682838, 5.04451203, 4.83707094, 5.05448794]),
 'score_time': array([0.04986095, 0.03489995, 0.03490114, 0.03791213, 0.03491282]),
 'test_r2': array([-9.73833528e-05,  1.79295896e-01,  1.80999727e-01,  2.17016043e-01,
         2.81397057e-01]),
 'train_r2': array([0.50157226, 0.99938628, 0.99928947, 0.99923052, 0.99919464]),
 'test_neg_mean_squared_error': array([-7.41110857e+12, -1.57212218e+09, -1.09056817e+09, -1.02850323e+09,
        -1.05757233e+09]),
 'train_neg_mean_squared_error': array([-7.61630517e+08, -1.13795919e+09, -1.31754531e+09, -1.42685509e+09,
        -1.49336666e+09])}

In [1312]:
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores['test_r2'].mean(), scores['test_r2'].std()))

0.17 accuracy with a standard deviation of 0.09

In [1313]:
print(f"ME = {ME}\nMAE = {MAE}\nMSE = {MSE}\nRMSE = {RMSE}")

ME = 142963145.04209244
MAE = 18802.93312073858
MSE = 2244457132143.137
RMSE = 1498151.2380741595

In [1314]:
# reg.fit(X_train, y_train)
# y_pred = reg.predict(X_test)

# ME = metrics.max_error(y_test, y_pred)
# MAE= metrics.mean_absolute_error(y_test, y_pred)
# MSE=metrics.mean_squared_error(y_test, y_pred)
# RMSE= np.sqrt(MSE)

In [1315]:
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores['test_r2'].mean(), scores['test_r2'].std()))

0.17 accuracy with a standard deviation of 0.09

In [1316]:
print(scores['test_neg_mean_squared_error'])

[-7.41110857e+12 -1.57212218e+09 -1.09056817e+09 -1.02850323e+09
 -1.05757233e+09]

In [1317]:
print(scores['train_r2'])

[0.50157226 0.99938628 0.99928947 0.99923052 0.99919464]

In [1318]:
regr = RandomForestRegressor(max_depth=2, random_state=0)
scores = cross_validate(clf, X, y, cv=5, scoring=('r2', 'neg_mean_squared_error'), return_train_score=True)

In [1319]:
scores

{'fit_time': array([0.02692509, 0.03494358, 0.03090787, 0.02892518, 0.02992439]),
 'score_time': array([0.00299215, 0.00200105, 0.00198889, 0.00298405, 0.00295615]),
 'test_r2': array([8.05265145e-05, 9.98701349e-01, 9.94511785e-01, 9.95947235e-01,
        9.92085358e-01]),
 'train_r2': array([0.99563486, 0.99999366, 0.99999431, 0.99999404, 0.9999949 ]),
 'test_neg_mean_squared_error': array([-7.40979019e+12, -2.48766641e+06, -7.30802222e+06, -5.32358510e+06,
        -1.16480266e+07]),
 'train_neg_mean_squared_error': array([ -6670215.68668226, -11748467.47161917, -10544074.71351349,
        -11057008.29214357,  -9458481.16460127])}

In [1320]:
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores['test_r2'].mean(), scores['test_r2'].std()))

0.80 accuracy with a standard deviation of 0.40

In [1321]:
regr.fit(X_train, y_train)
y_pred = regr.predict(X_test)

ME = metrics.max_error(y_test, y_pred)
MAE= metrics.mean_absolute_error(y_test, y_pred)
MSE=metrics.mean_squared_error(y_test, y_pred)
RMSE= np.sqrt(MSE)

In [1322]:
print(f"ME = {ME}\nMAE = {MAE}\nMSE = {MSE}\nRMSE = {RMSE}")

ME = 9882147.705222333
MAE = 47177.86526470601
MSE = 111976106730.96526
RMSE = 334628.31131116993

In [1323]:
print(f"R2 score = {metrics.r2_score(y_test,y_pred)}")

R2 score = -71.76414477084482

In [1324]:
(y_test-y_pred).mean()

-18486.49712159368

In [1325]:
xx = np.array([[9, 35, 1985, 3, 0, 1]])
y_pred = regr.predict(xx)

C:\Users\Ilgiz\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [1326]:
y_pred*35

array([4611982.19553156])