In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('raw_data.csv')

In [3]:
df.head()

,Unnamed: 0,жилая площадь,ремонт,этажей в доме,отделка,количество комнат,площадь кухни,мебель,санузел,высота потолков,...,окна,вид сделки,пассажирский лифт,балкон или лоджия,техника,в доме,название новостройки,тип комнат,position,price
0,0,NaN,NaN,25,без отделки,4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,жк «южный парк»,изолированные,1000000,8171910
1,1,NaN,NaN,25,без отделки,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,жк «южный парк»,изолированные,1000000,6949215
2,2,28.4 м²,косметический,9,NaN,2,7.7 м²,"кухня, спальные места",раздельный,2.7 м,...,на улицу,NaN,NaN,лоджия,"стиральная машина, посудомоечная машина",газ,NaN,изолированные,1000000,6490000
3,3,NaN,NaN,25,без отделки,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,жк «южный парк»,изолированные,1000000,6156245
4,4,18 м²,дизайнерский,10,NaN,1,10 м²,"кухня, хранение одежды",совмещенный,2.8 м,...,"на улицу, на солнечную сторону",возможна ипотека,1,лоджия,кондиционер,NaN,NaN,NaN,31,9999999

In [4]:
df.columns

Index(['Unnamed: 0', 'жилая площадь', 'ремонт', 'этажей в доме', 'отделка',
       'количество комнат', 'площадь кухни', 'мебель', 'санузел',
       'высота потолков', 'парковка', 'тип дома', 'корпус, строение', 'двор',
       'общая площадь', 'официальный застройщик', 'запланирован снос',
       'год постройки', 'тип участия', 'грузовой лифт', 'способ продажи',
       'этаж', 'срок сдачи', 'тёплый пол', 'окна', 'вид сделки',
       'пассажирский лифт', 'балкон или лоджия', 'техника', 'в доме',
       'название новостройки', 'тип комнат', 'position', 'price'],
      dtype='object')

In [5]:
df = df.drop(['Unnamed: 0'], axis=1)

In [6]:
df.shape

(4973, 33)

In [7]:
df.describe()

       этажей в доме  год постройки        position         price
count    4973.000000    3153.000000     4973.000000  4.973000e+03
mean       10.846169    1990.001269   343668.053891  8.337307e+06
std         6.280634     134.009207   474966.707958  6.720903e+07
min         1.000000       0.000000        5.000000  6.500000e+05
25%         5.000000    1979.000000       16.000000  4.550000e+06
50%         9.000000    2007.000000       31.000000  5.980000e+06
75%        16.000000    2018.000000  1000000.000000  7.990000e+06
max        38.000000    2023.000000  1000000.000000  3.350000e+09

In [8]:
df.isna().sum()

жилая площадь             1394
ремонт                     481
этажей в доме                0
отделка                   4523
количество комнат            0
площадь кухни              358
мебель                    3282
санузел                    729
высота потолков           3170
парковка                  2318
тип дома                     0
корпус, строение          4623
двор                      2407
общая площадь                0
официальный застройщик    4534
запланирован снос         4961
год постройки             1820
тип участия               4534
грузовой лифт             3015
способ продажи             283
этаж                         0
срок сдачи                4534
тёплый пол                4669
окна                      1350
вид сделки                1543
пассажирский лифт         2175
балкон или лоджия         1094
техника                   3910
в доме                    3759
название новостройки      4534
тип комнат                2363
position                     0
price                        0
dtype: int64

In [9]:
column_list = df.columns.tolist()

In [10]:
column_list_square = list(filter(lambda item: "площадь" in item, column_list))

In [11]:
column_list_square

['жилая площадь', 'площадь кухни', 'общая площадь']

In [12]:
def clear_square(data):
    if data:
        return float(str(data).split()[0])

In [13]:
for col_name in column_list_square:
    df[col_name] = df[col_name].apply(clear_square)

In [14]:
df[column_list_square]

      жилая площадь  площадь кухни  общая площадь
0               NaN            NaN           62.6
1               NaN            NaN           50.9
2              28.4            7.7           50.9
3               NaN            NaN           45.2
4              18.0           10.0           40.0
...             ...            ...            ...
4968           27.3            7.0           49.1
4969           15.5           11.1           35.2
4970           58.0           18.4           81.4
4971           70.0           12.0           94.1
4972            NaN           20.0          114.0

[4973 rows x 3 columns]

In [15]:
df.describe()

,жилая площадь,этажей в доме,площадь кухни,общая площадь,год постройки,position,price
count,3579.000000,4973.000000,4615.000000,4973.000000,3153.000000,4973.000000,4.973000e+03
mean,27.876474,10.846169,10.590054,50.844621,1990.001269,343668.053891,8.337307e+06
std,15.972825,6.280634,5.809977,28.429042,134.009207,474966.707958,6.720903e+07
min,5.000000,1.000000,2.000000,10.000000,0.000000,5.000000,6.500000e+05
25%,17.100000,5.000000,7.300000,35.000000,1979.000000,16.000000,4.550000e+06
50%,24.000000,9.000000,9.700000,45.000000,2007.000000,31.000000,5.980000e+06
75%,33.100000,16.000000,12.100000,60.800000,2018.000000,1000000.000000,7.990000e+06
max,176.000000,38.000000,95.000000,1000.000000,2023.000000,1000000.000000,3.350000e+09

In [16]:
df[column_list_square].corr()

               жилая площадь  площадь кухни  общая площадь
жилая площадь       1.000000       0.365617       0.922777
площадь кухни       0.365617       1.000000       0.472500
общая площадь       0.922777       0.472500       1.000000

In [17]:
df = df.drop(['жилая площадь'], axis=1)

In [18]:
df['площадь кухни'].fillna(df['площадь кухни'].mean(), inplace=True)

In [19]:
df.describe()

,этажей в доме,площадь кухни,общая площадь,год постройки,position,price
count,4973.000000,4973.000000,4973.000000,3153.000000,4973.000000,4.973000e+03
mean,10.846169,10.590054,50.844621,1990.001269,343668.053891,8.337307e+06
std,6.280634,5.596901,28.429042,134.009207,474966.707958,6.720903e+07
min,1.000000,2.000000,10.000000,0.000000,5.000000,6.500000e+05
25%,5.000000,7.700000,35.000000,1979.000000,16.000000,4.550000e+06
50%,9.000000,10.000000,45.000000,2007.000000,31.000000,5.980000e+06
75%,16.000000,12.000000,60.800000,2018.000000,1000000.000000,7.990000e+06
max,38.000000,95.000000,1000.000000,2023.000000,1000000.000000,3.350000e+09

In [20]:
df['количество комнат'].unique()

array([' 4', ' 3', ' 2', ' 1', ' студия', ' 5', ' 10 и больше',
       ' свободная планировка', ' 6', ' 9', ' 7'], dtype=object)

In [21]:
df['количество комнат'].value_counts()

 1                       2023
 2                       1625
 3                        863
 студия                   320
 4                        105
 5                         21
 6                          6
 свободная планировка       5
 10 и больше                3
 9                          1
 7                          1
Name: количество комнат, dtype: int64

In [22]:
# удаляем 10 и больше и др.
for item in ['10 и больше','6','7','8','9','свободная планировка']:
    df.drop(df[df['количество комнат'].str.contains(item)].index, inplace = True)

In [23]:
df['количество комнат'].value_counts()

 1         2023
 2         1625
 3          863
 студия     320
 4          105
 5           21
Name: количество комнат, dtype: int64

In [24]:
def rep_count_room(data):
    if "5" in data:
        return 4
    if "студия" in data:
        return 0
    return int(data)

In [25]:
df['количество комнат']=df['количество комнат'].apply(rep_count_room)

In [26]:
df['количество комнат'].value_counts()

1    2023
2    1625
3     863
0     320
4     126
Name: количество комнат, dtype: int64

In [27]:
df.describe()

,этажей в доме,количество комнат,площадь кухни,общая площадь,год постройки,position,price
count,4957.000000,4957.000000,4957.000000,4957.000000,3142.000000,4957.000000,4.957000e+03
mean,10.848901,1.687714,10.581862,50.595158,1989.948440,343768.615493,8.315486e+06
std,6.274135,0.919103,5.596897,27.728350,134.239442,474999.957837,6.731410e+07
min,1.000000,0.000000,2.000000,10.000000,0.000000,5.000000,6.500000e+05
25%,5.000000,1.000000,7.600000,35.000000,1979.000000,16.000000,4.550000e+06
50%,9.000000,2.000000,10.000000,45.000000,2007.000000,31.000000,5.959999e+06
75%,16.000000,2.000000,12.000000,60.600000,2018.000000,1000000.000000,7.956000e+06
max,38.000000,4.000000,95.000000,1000.000000,2023.000000,1000000.000000,3.350000e+09

In [28]:
df.columns

Index(['ремонт', 'этажей в доме', 'отделка', 'количество комнат',
       'площадь кухни', 'мебель', 'санузел', 'высота потолков', 'парковка',
       'тип дома', 'корпус, строение', 'двор', 'общая площадь',
       'официальный застройщик', 'запланирован снос', 'год постройки',
       'тип участия', 'грузовой лифт', 'способ продажи', 'этаж', 'срок сдачи',
       'тёплый пол', 'окна', 'вид сделки', 'пассажирский лифт',
       'балкон или лоджия', 'техника', 'в доме', 'название новостройки',
       'тип комнат', 'position', 'price'],
      dtype='object')

In [29]:
df['запланирован снос']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4968    NaN
4969    NaN
4970    NaN
4971    NaN
4972    NaN
Name: запланирован снос, Length: 4957, dtype: object

In [30]:
# удаляем дома, которые запланированы под снос
df.drop(df[df['запланирован снос'].notna()].index, inplace = True)

In [31]:
df['запланирован снос'].value_counts()

Series([], Name: запланирован снос, dtype: int64)

In [32]:
df.drop(['запланирован снос'], axis=1, inplace=True)

In [33]:
df.columns

Index(['ремонт', 'этажей в доме', 'отделка', 'количество комнат',
       'площадь кухни', 'мебель', 'санузел', 'высота потолков', 'парковка',
       'тип дома', 'корпус, строение', 'двор', 'общая площадь',
       'официальный застройщик', 'год постройки', 'тип участия',
       'грузовой лифт', 'способ продажи', 'этаж', 'срок сдачи', 'тёплый пол',
       'окна', 'вид сделки', 'пассажирский лифт', 'балкон или лоджия',
       'техника', 'в доме', 'название новостройки', 'тип комнат', 'position',
       'price'],
      dtype='object')

In [34]:
df[['год постройки', 'срок сдачи']]

      год постройки        срок сдачи
0               NaN   2 кв. 2025 года
1               NaN   2 кв. 2025 года
2            1988.0               NaN
3               NaN   2 кв. 2025 года
4            2019.0               NaN
...             ...               ...
4968         1980.0               NaN
4969         2022.0               NaN
4970         2014.0               NaN
4971         2006.0               NaN
4972         1938.0               NaN

[4945 rows x 2 columns]

In [35]:
df['срок сдачи'].value_counts()

 сдан               120
 4 кв. 2024 года     72
 4 кв. 2022 года     61
 1 кв. 2023 года     49
 4 кв. 2023 года     32
 2 кв. 2023 года     29
 2 кв. 2025 года     27
 3 кв. 2023 года     27
 1 кв. 2024 года      9
 3 кв. 2025 года      7
 4 кв. 2025 года      3
 2 кв. 2024 года      1
 3 кв. 2024 года      1
Name: срок сдачи, dtype: int64

In [36]:
df[df['срок сдачи']==' сдан']['год постройки']

8      NaN
10     NaN
36     NaN
94     NaN
588    NaN
        ..
4683   NaN
4766   NaN
4839   NaN
4913   NaN
4937   NaN
Name: год постройки, Length: 120, dtype: float64

In [37]:
import re
import numpy as np
import datetime as dt

In [38]:
def extract_year(year, yearbuilding):
    if not np.isnan(year):
        return int(year)
    if type(yearbuilding)==str and yearbuilding.strip()=='сдан':
        return dt.datetime.now().year
    if type(yearbuilding)==str:
        return int(next(iter(re.findall(r"[0-9]{4,4}", yearbuilding)), -1))
    return -1

In [39]:
df['год постройки']=df.apply(lambda row: extract_year(row['год постройки'], row['срок сдачи']), axis=1)

In [40]:
df['год постройки']

0       2025
1       2025
2       1988
3       2025
4       2019
        ...
4968    1980
4969    2022
4970    2014
4971    2006
4972    1938
Name: год постройки, Length: 4945, dtype: int64

In [41]:
df.describe()

,этажей в доме,количество комнат,площадь кухни,общая площадь,год постройки,position,price
count,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4.945000e+03
mean,10.841658,1.687159,10.575571,50.568008,1438.409505,344198.343175,8.302840e+06
std,6.269807,0.918948,5.587893,27.712410,900.723518,475141.243627,6.739190e+07
min,1.000000,0.000000,2.000000,10.000000,-1.000000,5.000000,6.500000e+05
25%,5.000000,1.000000,7.600000,35.000000,-1.000000,16.000000,4.550000e+06
50%,9.000000,2.000000,10.000000,45.000000,1992.000000,31.000000,5.950000e+06
75%,16.000000,2.000000,12.000000,60.500000,2018.000000,1000000.000000,7.949000e+06
max,38.000000,4.000000,95.000000,1000.000000,2025.000000,1000000.000000,3.350000e+09

In [42]:
df.drop(['срок сдачи'], axis=1, inplace=True)

In [43]:
df['достроен'] = df['год постройки']<=dt.datetime.now().year

In [44]:
df['не достроен'] = df['год постройки']>dt.datetime.now().year

In [45]:
df['достроен'] = df['достроен'].astype('int')
df['не достроен'] = df['не достроен'].astype('int')

In [46]:
df.describe()

,этажей в доме,количество комнат,площадь кухни,общая площадь,год постройки,position,price,достроен,не достроен
count,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4945.000000,4.945000e+03,4945.000000,4945.000000
mean,10.841658,1.687159,10.575571,50.568008,1438.409505,344198.343175,8.302840e+06,0.946815,0.053185
std,6.269807,0.918948,5.587893,27.712410,900.723518,475141.243627,6.739190e+07,0.224425,0.224425
min,1.000000,0.000000,2.000000,10.000000,-1.000000,5.000000,6.500000e+05,0.000000,0.000000
25%,5.000000,1.000000,7.600000,35.000000,-1.000000,16.000000,4.550000e+06,1.000000,0.000000
50%,9.000000,2.000000,10.000000,45.000000,1992.000000,31.000000,5.950000e+06,1.000000,0.000000
75%,16.000000,2.000000,12.000000,60.500000,2018.000000,1000000.000000,7.949000e+06,1.000000,0.000000
max,38.000000,4.000000,95.000000,1000.000000,2025.000000,1000000.000000,3.350000e+09,1.000000,1.000000

In [47]:
df.head()

,ремонт,этажей в доме,отделка,количество комнат,площадь кухни,мебель,санузел,высота потолков,парковка,тип дома,...,пассажирский лифт,балкон или лоджия,техника,в доме,название новостройки,тип комнат,position,price,достроен,не достроен
0,NaN,25,без отделки,4,10.590054,NaN,NaN,NaN,NaN,монолитный,...,NaN,NaN,NaN,NaN,жк «южный парк»,изолированные,1000000,8171910,0,1
1,NaN,25,без отделки,3,10.590054,NaN,NaN,NaN,NaN,монолитный,...,NaN,NaN,NaN,NaN,жк «южный парк»,изолированные,1000000,6949215,0,1
2,косметический,9,NaN,2,7.700000,"кухня, спальные места",раздельный,2.7 м,открытая во дворе,кирпичный,...,NaN,лоджия,"стиральная машина, посудомоечная машина",газ,NaN,изолированные,1000000,6490000,1,0
3,NaN,25,без отделки,3,10.590054,NaN,NaN,NaN,NaN,монолитный,...,NaN,NaN,NaN,NaN,жк «южный парк»,изолированные,1000000,6156245,0,1
4,дизайнерский,10,NaN,1,10.000000,"кухня, хранение одежды",совмещенный,2.8 м,подземная,монолитно-кирпичный,...,1,лоджия,кондиционер,NaN,NaN,NaN,31,9999999,1,0

In [48]:
df['высота потолков'].value_counts()

 2.7 м     637
 2.6 м     278
 2.8 м     277
 3 м       219
 2.5 м     170
 2.9 м      37
 3.1 м      27
 3.2 м      25
 0 м        18
 270 м      11
 2.4 м      11
 280 м      10
 3.3 м       6
 250 м       5
 260 м       5
 265 м       4
 2.3 м       4
 285 м       3
 3.5 м       3
 3.4 м       3
 255 м       2
 310 м       2
 3.7 м       2
 275 м       2
 220 м       2
 240 м       2
 2.2 м       2
 3000 м      2
 252 м       1
 26 м        1
 17 м        1
 1.5 м       1
 210 м       1
 3.8 м       1
 2800 м      1
 2700 м      1
 1.8 м       1
 38 м        1
 2 м         1
 2.1 м       1
 6 м         1
 4 м         1
 25.7 м      1
 45 м        1
Name: высота потолков, dtype: int64

In [49]:
def extract_height(height):
    if type(height)==str:
        h = float(height.split()[0])
        if h<10:
            return h
        if h>10 and h<100:
            return h/10
        if h>100 and h<1000:
            return h/100
        if h>1000:
            return h/1000
        return h
    return height

In [50]:
df['высота потолков'] = df['высота потолков'].apply(extract_height)

In [51]:
df['высота потолков'].value_counts()

2.70    649
2.80    288
2.60    284
3.00    221
2.50    175
2.90     37
3.10     29
3.20     25
0.00     18
2.40     13
3.30      6
2.30      4
2.20      4
2.65      4
3.50      3
2.85      3
3.40      3
2.55      2
3.70      2
3.80      2
2.10      2
2.75      2
1.70      1
2.52      1
1.50      1
6.00      1
1.80      1
2.00      1
2.57      1
4.00      1
4.50      1
Name: высота потолков, dtype: int64

In [52]:
df['высота потолков'].isna().sum()

3160

In [53]:
df['высота потолков'].mean()

2.7115070028010995

In [54]:
df['высота потолков'].fillna(df['высота потолков'].mean(), inplace=True)

In [55]:
df['в доме'].value_counts()

 газ                            705
 мусоропровод                   259
 мусоропровод, газ              101
 консьерж                        94
 консьерж, газ                   21
 консьерж, мусоропровод          16
 консьерж, мусоропровод, газ      3
Name: в доме, dtype: int64

In [56]:
df['в доме'].fillna('', inplace=True)

In [57]:
df['в доме']=df['в доме'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [58]:
df['в доме'].value_counts()

[]                               3746
[газ]                             705
[мусоропровод]                    259
[мусоропровод, газ]               101
[консьерж]                         94
[консьерж, газ]                    21
[консьерж, мусоропровод]           16
[консьерж, мусоропровод, газ]       3
Name: в доме, dtype: int64

In [59]:
df['ремонт'].isna().sum()

480

In [60]:
df['ремонт'].fillna(' требует ремонта', inplace=True)

In [61]:
df['ремонт'].value_counts()

 косметический      1661
 евро               1560
 требует ремонта    1229
 дизайнерский        495
Name: ремонт, dtype: int64

In [62]:
df['отделка'].value_counts()

 предчистовая    229
 без отделки     152
 чистовая         68
Name: отделка, dtype: int64

In [63]:
df.drop(['отделка'], axis=1, inplace=True)

In [64]:
df.head()

,ремонт,этажей в доме,количество комнат,площадь кухни,мебель,санузел,высота потолков,парковка,тип дома,"корпус, строение",...,пассажирский лифт,балкон или лоджия,техника,в доме,название новостройки,тип комнат,position,price,достроен,не достроен
0,требует ремонта,25,4,10.590054,NaN,NaN,2.711507,NaN,монолитный,дом 4.3,...,NaN,NaN,NaN,[],жк «южный парк»,изолированные,1000000,8171910,0,1
1,требует ремонта,25,3,10.590054,NaN,NaN,2.711507,NaN,монолитный,дом 4.3,...,NaN,NaN,NaN,[],жк «южный парк»,изолированные,1000000,6949215,0,1
2,косметический,9,2,7.700000,"кухня, спальные места",раздельный,2.700000,открытая во дворе,кирпичный,NaN,...,NaN,лоджия,"стиральная машина, посудомоечная машина",[газ],NaN,изолированные,1000000,6490000,1,0
3,требует ремонта,25,3,10.590054,NaN,NaN,2.711507,NaN,монолитный,дом 4.3,...,NaN,NaN,NaN,[],жк «южный парк»,изолированные,1000000,6156245,0,1
4,дизайнерский,10,1,10.000000,"кухня, хранение одежды",совмещенный,2.800000,подземная,монолитно-кирпичный,NaN,...,1,лоджия,кондиционер,[],NaN,NaN,31,9999999,1,0

In [65]:
df['мебель'].value_counts()

 кухня, хранение одежды, спальные места    786
 кухня                                     402
 кухня, хранение одежды                    376
 кухня, спальные места                      81
 хранение одежды, спальные места            13
 хранение одежды                            12
 спальные места                              7
Name: мебель, dtype: int64

In [66]:
df['мебель'].value_counts().sum()

1677

In [67]:
df['мебель'].fillna('', inplace=True)

In [68]:
df['мебель']=df['мебель'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [69]:
df['санузел'].value_counts()

 совмещенный                2758
 раздельный                 1388
 совмещенный, раздельный      70
Name: санузел, dtype: int64

In [70]:
df['санузел'].value_counts().sum()

4216

In [71]:
df['санузел'].replace(' совмещенный, раздельный', 'прочее', inplace=True)

In [72]:
df['санузел'].value_counts()

 совмещенный    2758
 раздельный     1388
прочее            70
Name: санузел, dtype: int64

In [73]:
df['санузел'].fillna('прочее', inplace=True)

In [74]:
df['санузел'].value_counts()

 совмещенный    2758
 раздельный     1388
прочее           799
Name: санузел, dtype: int64

In [75]:
df['санузел'].value_counts().sum()

4945

In [76]:
df['парковка'].value_counts()

 открытая во дворе                                                                1509
 за шлагбаумом во дворе                                                            236
 подземная                                                                         217
 подземная, за шлагбаумом во дворе                                                 118
 подземная, открытая во дворе                                                      113
 открытая во дворе, за шлагбаумом во дворе                                         111
 наземная многоуровневая, открытая во дворе                                         84
 наземная многоуровневая                                                            81
 подземная, открытая во дворе, за шлагбаумом во дворе                               48
 подземная, наземная многоуровневая                                                 25
 наземная многоуровневая, за шлагбаумом во дворе                                    22
 наземная многоуровневая, открытая во дворе, за шлагбаумом во дворе                 22
 подземная, наземная многоуровневая, открытая во дворе, за шлагбаумом во дворе      18
 подземная, наземная многоуровневая, открытая во дворе                              17
 подземная, наземная многоуровневая, за шлагбаумом во дворе                         10
Name: парковка, dtype: int64

In [77]:
df['парковка'].value_counts().sum()

2631

In [78]:
df['парковка'].fillna('', inplace=True)

In [79]:
df['парковка']=df['парковка'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [80]:
df['тип дома'].value_counts()

 кирпичный              2547
 панельный               968
 монолитный              701
 монолитно-кирпичный     654
 блочный                  72
 деревянный                3
Name: тип дома, dtype: int64

In [81]:
df['тип дома'].value_counts().sum()

4945

In [82]:
df[df['тип дома']==' деревянный']

,ремонт,этажей в доме,количество комнат,площадь кухни,мебель,санузел,высота потолков,парковка,тип дома,"корпус, строение",...,пассажирский лифт,балкон или лоджия,техника,в доме,название новостройки,тип комнат,position,price,достроен,не достроен
3065,требует ремонта,3,2,10.0,[],раздельный,3.000000,[открытая во дворе],деревянный,NaN,...,нет,NaN,кондиционер,[газ],NaN,изолированные,16,4099999,1,0
3941,евро,2,4,7.0,[],совмещенный,2.711507,[открытая во дворе],деревянный,NaN,...,NaN,NaN,NaN,[],NaN,изолированные,31,5000000,1,0
4614,косметический,3,1,9.8,[],совмещенный,2.711507,[],деревянный,NaN,...,NaN,лоджия,NaN,[],NaN,NaN,1000000,3000000,1,0

In [83]:
df[df['тип дома']==' деревянный']['год постройки']

3065    1905
3941    1938
4614    2020
Name: год постройки, dtype: int64

In [84]:
df.drop(df[df['тип дома']==' деревянный'].index, inplace = True)

In [85]:
df['тип дома'].value_counts()

 кирпичный              2547
 панельный               968
 монолитный              701
 монолитно-кирпичный     654
 блочный                  72
Name: тип дома, dtype: int64

In [86]:
df.columns

Index(['ремонт', 'этажей в доме', 'количество комнат', 'площадь кухни',
       'мебель', 'санузел', 'высота потолков', 'парковка', 'тип дома',
       'корпус, строение', 'двор', 'общая площадь', 'официальный застройщик',
       'год постройки', 'тип участия', 'грузовой лифт', 'способ продажи',
       'этаж', 'тёплый пол', 'окна', 'вид сделки', 'пассажирский лифт',
       'балкон или лоджия', 'техника', 'в доме', 'название новостройки',
       'тип комнат', 'position', 'price', 'достроен', 'не достроен'],
      dtype='object')

In [87]:
df['корпус, строение'].value_counts()

 1 очередь        33
 дом 1            30
 дом 2            22
 дом 4.3          21
 корпус 1         19
                  ..
 пк 10-2           1
 блок 2.1          1
 дом 16а-24        1
 дом 4, блок 1     1
 дом 8             1
Name: корпус, строение, Length: 85, dtype: int64

In [88]:
df.drop(['корпус, строение'], axis=1, inplace = True)

In [89]:
df.columns

Index(['ремонт', 'этажей в доме', 'количество комнат', 'площадь кухни',
       'мебель', 'санузел', 'высота потолков', 'парковка', 'тип дома', 'двор',
       'общая площадь', 'официальный застройщик', 'год постройки',
       'тип участия', 'грузовой лифт', 'способ продажи', 'этаж', 'тёплый пол',
       'окна', 'вид сделки', 'пассажирский лифт', 'балкон или лоджия',
       'техника', 'в доме', 'название новостройки', 'тип комнат', 'position',
       'price', 'достроен', 'не достроен'],
      dtype='object')

In [90]:
df['двор'].value_counts()

 детская площадка, спортивная площадка                         947
 закрытая территория, детская площадка, спортивная площадка    832
 детская площадка                                              467
 закрытая территория, детская площадка                         164
 закрытая территория                                           119
 спортивная площадка                                             9
 закрытая территория, спортивная площадка                        3
Name: двор, dtype: int64

In [91]:
df['двор'].value_counts().sum()

2541

In [92]:
df['двор'].fillna('', inplace=True)

In [93]:
df['двор']=df['двор'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [94]:
df.head()

,ремонт,этажей в доме,количество комнат,площадь кухни,мебель,санузел,высота потолков,парковка,тип дома,двор,...,пассажирский лифт,балкон или лоджия,техника,в доме,название новостройки,тип комнат,position,price,достроен,не достроен
0,требует ремонта,25,4,10.590054,[],прочее,2.711507,[],монолитный,[],...,NaN,NaN,NaN,[],жк «южный парк»,изолированные,1000000,8171910,0,1
1,требует ремонта,25,3,10.590054,[],прочее,2.711507,[],монолитный,[],...,NaN,NaN,NaN,[],жк «южный парк»,изолированные,1000000,6949215,0,1
2,косметический,9,2,7.700000,"[кухня, спальные места]",раздельный,2.700000,[открытая во дворе],кирпичный,"[детская площадка, спортивная площадка]",...,NaN,лоджия,"стиральная машина, посудомоечная машина",[газ],NaN,изолированные,1000000,6490000,1,0
3,требует ремонта,25,3,10.590054,[],прочее,2.711507,[],монолитный,[],...,NaN,NaN,NaN,[],жк «южный парк»,изолированные,1000000,6156245,0,1
4,дизайнерский,10,1,10.000000,"[кухня, хранение одежды]",совмещенный,2.800000,[подземная],монолитно-кирпичный,"[закрытая территория, детская площадка, спорти...",...,1,лоджия,кондиционер,[],NaN,NaN,31,9999999,1,0

In [95]:
df['официальный застройщик'].value_counts()

 ооо сз «арт-стройдом»                                    31
 ооо спецзастройщик «тси»                                 27
 ооо специализированный застройщик «ск «унистройдом-1»    25
 ооо сз «сму88 групп»                                     22
 ооо «сз «южный парк-4»                                   21
                                                          ..
 ооо «дск»                                                 1
 ооо «компроект»                                           1
 ооо «факел»                                               1
 ооо «ива»                                                 1
 ооо «специализированный застройщик «жк «эволюция»         1
Name: официальный застройщик, Length: 75, dtype: int64

In [96]:
df['официальный застройщик'].value_counts().sum()

438

In [97]:
df.drop(['официальный застройщик'], axis=1, inplace = True)

In [98]:
df.columns

Index(['ремонт', 'этажей в доме', 'количество комнат', 'площадь кухни',
       'мебель', 'санузел', 'высота потолков', 'парковка', 'тип дома', 'двор',
       'общая площадь', 'год постройки', 'тип участия', 'грузовой лифт',
       'способ продажи', 'этаж', 'тёплый пол', 'окна', 'вид сделки',
       'пассажирский лифт', 'балкон или лоджия', 'техника', 'в доме',
       'название новостройки', 'тип комнат', 'position', 'price', 'достроен',
       'не достроен'],
      dtype='object')

In [99]:
df['тип участия'].value_counts()

 дду по фз 214    305
 другое           133
Name: тип участия, dtype: int64

In [100]:
df.drop(['тип участия'], axis=1, inplace = True)

In [101]:
df['грузовой лифт'].value_counts()

 1      1141
 нет     675
 2       117
 4         7
 3         2
Name: грузовой лифт, dtype: int64

In [102]:
df['грузовой лифт'].value_counts().sum()

1942

In [103]:
df['грузовой лифт'].replace(' нет', 0, inplace=True)
df['грузовой лифт'].replace(' 1', 1, inplace=True)
df['грузовой лифт'].replace(' 2', 1, inplace=True)
df['грузовой лифт'].replace(' 3', 1, inplace=True)
df['грузовой лифт'].replace(' 4', 1, inplace=True)
df['грузовой лифт'].fillna(0,  inplace=True)
df['грузовой лифт']= df['грузовой лифт'].astype(int)

In [104]:
df['грузовой лифт'].value_counts()

0    3675
1    1267
Name: грузовой лифт, dtype: int64

In [105]:
df['пассажирский лифт'].value_counts()

 1      1802
 нет     623
 2       277
 3        52
 4        22
Name: пассажирский лифт, dtype: int64

In [106]:
df['пассажирский лифт'].value_counts().sum()

2776

In [107]:
df['пассажирский лифт'].replace(' нет', 0, inplace=True)
df['пассажирский лифт'].replace(' 1', 1, inplace=True)
df['пассажирский лифт'].replace(' 2', 1, inplace=True)
df['пассажирский лифт'].replace(' 3', 1, inplace=True)
df['пассажирский лифт'].replace(' 4', 1, inplace=True)
df['пассажирский лифт'].fillna(0,  inplace=True)
df['пассажирский лифт'] = df['пассажирский лифт'].astype(int)

In [108]:
df['пассажирский лифт'].value_counts()

0    2789
1    2153
Name: пассажирский лифт, dtype: int64

In [109]:
df['способ продажи'].value_counts()

 свободная                   4232
 альтернативная               250
 переуступка                  163
 договор долевого участия      14
Name: способ продажи, dtype: int64

In [110]:
df.groupby(by='способ продажи')['price'].mean()

способ продажи
 альтернативная              3.305918e+07
 договор долевого участия    5.321198e+06
 переуступка                 7.130054e+06
 свободная                   6.929204e+06
Name: price, dtype: float64

In [111]:
df['способ продажи'].value_counts().sum()

4659

In [112]:
df.shape

(4942, 28)

In [113]:
df['способ продажи'].fillna('неизвестно', inplace=True)

In [114]:
df.groupby(by='способ продажи')['price'].mean()

способ продажи
 альтернативная              3.305918e+07
 договор долевого участия    5.321198e+06
 переуступка                 7.130054e+06
 свободная                   6.929204e+06
неизвестно                   7.842969e+06
Name: price, dtype: float64

In [115]:
df['этаж'].value_counts()

 5 из 5      233
 2 из 5      228
 3 из 5      203
 4 из 5      190
 1 из 5      185
            ...
 19 из 28      1
 20 из 27      1
 5 из 11       1
 18 из 25      1
 4 из 13       1
Name: этаж, Length: 314, dtype: int64

In [116]:
df['этаж'].value_counts().sum()

4942

In [117]:
df['этаж'] = df['этаж'].apply(lambda x: int(x.split()[0]))

In [118]:
df['этаж'].value_counts()

2     704
3     644
1     537
5     535
4     523
6     314
9     293
7     278
8     232
10    162
11    121
13     91
12     75
15     72
14     68
16     63
17     62
18     52
19     34
20     22
22     16
21     13
24     12
23      9
25      5
26      5
Name: этаж, dtype: int64

In [119]:
df.columns

Index(['ремонт', 'этажей в доме', 'количество комнат', 'площадь кухни',
       'мебель', 'санузел', 'высота потолков', 'парковка', 'тип дома', 'двор',
       'общая площадь', 'год постройки', 'грузовой лифт', 'способ продажи',
       'этаж', 'тёплый пол', 'окна', 'вид сделки', 'пассажирский лифт',
       'балкон или лоджия', 'техника', 'в доме', 'название новостройки',
       'тип комнат', 'position', 'price', 'достроен', 'не достроен'],
      dtype='object')

In [120]:
df['тёплый пол'].value_counts()

 есть    299
Name: тёплый пол, dtype: int64

In [121]:
df.drop(['тёплый пол'], axis=1, inplace = True)

In [122]:
df['окна'].value_counts()

 во двор                                    1517
 во двор, на улицу                           646
 на улицу                                    644
 во двор, на улицу, на солнечную сторону     290
 во двор, на солнечную сторону               251
 на улицу, на солнечную сторону              170
 на солнечную сторону                         79
Name: окна, dtype: int64

In [123]:
df['окна'].value_counts().sum()

3597

In [124]:
df['окна'].fillna('', inplace=True)

In [125]:
df['окна']=df['окна'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [126]:
df['вид сделки'].value_counts()

 возможна ипотека                  3403
 возможна ипотека, аукцион            3
 продажа доли                         2
 возможна ипотека, продажа доли       1
 аукцион                              1
Name: вид сделки, dtype: int64

In [127]:
df.drop(['вид сделки'], axis=1, inplace = True)

In [128]:
df['балкон или лоджия'].value_counts()

 балкон            2188
 лоджия            1485
 балкон, лоджия     180
Name: балкон или лоджия, dtype: int64

In [129]:
df['балкон или лоджия'].value_counts().sum()

3853

In [130]:
df['балкон или лоджия'].fillna('нет', inplace=True)

In [131]:
df['балкон или лоджия']=df['балкон или лоджия'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [132]:
df['техника'].value_counts()

 холодильник, стиральная машина                                                                            196
 кондиционер                                                                                               142
 кондиционер, холодильник, стиральная машина, посудомоечная машина, водонагреватель                         91
 кондиционер, холодильник, стиральная машина                                                                78
 водонагреватель                                                                                            74
 холодильник                                                                                                60
 холодильник, стиральная машина, водонагреватель                                                            57
 кондиционер, холодильник, стиральная машина, водонагреватель                                               52
 стиральная машина                                                                                          43
 кондиционер, водонагреватель                                                                               41
 кондиционер, холодильник, стиральная машина, посудомоечная машина                                          33
 холодильник, стиральная машина, посудомоечная машина                                                       22
 холодильник, водонагреватель                                                                               16
 кондиционер, холодильник                                                                                   15
 холодильник, стиральная машина, посудомоечная машина, водонагреватель                                      14
 посудомоечная машина                                                                                       13
 кондиционер, посудомоечная машина                                                                          12
 кондиционер, холодильник, посудомоечная машина, водонагреватель                                            10
 кондиционер, посудомоечная машина, водонагреватель                                                         10
 кондиционер, стиральная машина, водонагреватель                                                             9
 холодильник, посудомоечная машина                                                                           7
 посудомоечная машина, водонагреватель                                                                       7
 кондиционер, стиральная машина, посудомоечная машина, водонагреватель                                       7
 кондиционер, стиральная машина                                                                              6
 кондиционер, холодильник, посудомоечная машина                                                              6
 кондиционер, стиральная машина, посудомоечная машина                                                        6
 кондиционер, холодильник, водонагреватель                                                                   5
 стиральная машина, водонагреватель                                                                          5
 стиральная машина, посудомоечная машина, водонагреватель                                                    5
 холодильник, посудомоечная машина, водонагреватель                                                          3
 стиральная машина, посудомоечная машина                                                                     2
 холодильник, плита, микроволновка, стиральная машина, посудомоечная машина, водонагреватель, телевизор      1
Name: техника, dtype: int64

In [133]:
df['техника'].value_counts().sum()

1048

In [134]:
df['техника'].fillna('', inplace=True)

In [135]:
df['техника']=df['техника'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [136]:
df.columns

Index(['ремонт', 'этажей в доме', 'количество комнат', 'площадь кухни',
       'мебель', 'санузел', 'высота потолков', 'парковка', 'тип дома', 'двор',
       'общая площадь', 'год постройки', 'грузовой лифт', 'способ продажи',
       'этаж', 'окна', 'пассажирский лифт', 'балкон или лоджия', 'техника',
       'в доме', 'название новостройки', 'тип комнат', 'position', 'price',
       'достроен', 'не достроен'],
      dtype='object')

In [137]:
df['название новостройки'].value_counts()

 жк «крылья»                 31
 жк «атмосфера»              25
 жк «мечта»                  25
 жк «dubrava 2.0»            22
 жк «южный парк»             21
                             ..
 жк «весна»                   1
 жк «уникум на новаторов»     1
 жк «паруса»                  1
 дом по ул. дубравная         1
 жк «эволюция»                1
Name: название новостройки, Length: 75, dtype: int64

In [138]:
df['название новостройки'].value_counts().sum()

438

In [139]:
df.drop(['название новостройки'], axis=1, inplace=True)

In [140]:
df['тип комнат'].value_counts()

 изолированные             2265
 смежные                    202
 изолированные, смежные     122
Name: тип комнат, dtype: int64

In [141]:
df['тип комнат'].value_counts().sum()

2589

In [142]:
df.groupby(by='тип комнат')['price'].mean()

тип комнат
 изолированные             8.887633e+06
 изолированные, смежные    1.000407e+07
 смежные                   6.278289e+06
Name: price, dtype: float64

In [143]:
df['тип комнат'].fillna('прочее', inplace=True)

In [144]:
df['тип комнат']=df['тип комнат'].str.split(',').apply(lambda item: [s.strip() for s in item])

In [145]:
df.head()

,ремонт,этажей в доме,количество комнат,площадь кухни,мебель,санузел,высота потолков,парковка,тип дома,двор,...,окна,пассажирский лифт,балкон или лоджия,техника,в доме,тип комнат,position,price,достроен,не достроен
0,требует ремонта,25,4,10.590054,[],прочее,2.711507,[],монолитный,[],...,[],0,[нет],[],[],[изолированные],1000000,8171910,0,1
1,требует ремонта,25,3,10.590054,[],прочее,2.711507,[],монолитный,[],...,[],0,[нет],[],[],[изолированные],1000000,6949215,0,1
2,косметический,9,2,7.700000,"[кухня, спальные места]",раздельный,2.700000,[открытая во дворе],кирпичный,"[детская площадка, спортивная площадка]",...,[на улицу],0,[лоджия],"[стиральная машина, посудомоечная машина]",[газ],[изолированные],1000000,6490000,1,0
3,требует ремонта,25,3,10.590054,[],прочее,2.711507,[],монолитный,[],...,[],0,[нет],[],[],[изолированные],1000000,6156245,0,1
4,дизайнерский,10,1,10.000000,"[кухня, хранение одежды]",совмещенный,2.800000,[подземная],монолитно-кирпичный,"[закрытая территория, детская площадка, спорти...",...,"[на улицу, на солнечную сторону]",1,[лоджия],[кондиционер],[],[прочее],31,9999999,1,0

In [146]:
df['тип дома']

0                 монолитный
1                 монолитный
2                  кирпичный
3                 монолитный
4        монолитно-кирпичный
                ...
4968               кирпичный
4969               кирпичный
4970               кирпичный
4971               кирпичный
4972               кирпичный
Name: тип дома, Length: 4942, dtype: object

In [147]:
df.describe()

,этажей в доме,количество комнат,площадь кухни,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,position,price,достроен,не достроен
count,4942.000000,4942.000000,4942.000000,4942.000000,4942.000000,4942.000000,4942.000000,4942.000000,4942.000000,4942.000000,4.942000e+03,4942.000000,4942.000000
mean,10.846621,1.686766,10.576568,2.711449,50.564205,1438.096317,0.256374,5.967624,0.435654,344204.929178,8.305432e+06,0.946783,0.053217
std,6.268462,0.918575,5.589341,0.205725,27.718343,900.906388,0.436675,4.687628,0.495892,475143.434926,6.741227e+07,0.224489,0.224489
min,1.000000,0.000000,2.000000,0.000000,10.000000,-1.000000,0.000000,1.000000,0.000000,5.000000,6.500000e+05,0.000000,0.000000
25%,5.000000,1.000000,7.600000,2.711507,35.000000,-1.000000,0.000000,2.000000,0.000000,16.000000,4.550000e+06,1.000000,0.000000
50%,9.000000,2.000000,10.000000,2.711507,45.000000,1992.000000,0.000000,5.000000,0.000000,31.000000,5.955000e+06,1.000000,0.000000
75%,16.000000,2.000000,12.000000,2.711507,60.500000,2018.000000,1.000000,8.000000,1.000000,1000000.000000,7.949000e+06,1.000000,0.000000
max,38.000000,4.000000,95.000000,6.000000,1000.000000,2025.000000,1.000000,26.000000,1.000000,1000000.000000,3.350000e+09,1.000000,1.000000

In [148]:
categorial_columns = list(set(df.columns) - set(df.describe().columns))

In [149]:
categorial_columns

['окна',
 'ремонт',
 'техника',
 'парковка',
 'в доме',
 'двор',
 'способ продажи',
 'тип комнат',
 'санузел',
 'тип дома',
 'балкон или лоджия',
 'мебель']

In [150]:
df[categorial_columns]

,окна,ремонт,техника,парковка,в доме,двор,способ продажи,тип комнат,санузел,тип дома,балкон или лоджия,мебель
0,[],требует ремонта,[],[],[],[],неизвестно,[изолированные],прочее,монолитный,[нет],[]
1,[],требует ремонта,[],[],[],[],неизвестно,[изолированные],прочее,монолитный,[нет],[]
2,[на улицу],косметический,"[стиральная машина, посудомоечная машина]",[открытая во дворе],[газ],"[детская площадка, спортивная площадка]",альтернативная,[изолированные],раздельный,кирпичный,[лоджия],"[кухня, спальные места]"
3,[],требует ремонта,[],[],[],[],неизвестно,[изолированные],прочее,монолитный,[нет],[]
4,"[на улицу, на солнечную сторону]",дизайнерский,[кондиционер],[подземная],[],"[закрытая территория, детская площадка, спорти...",свободная,[прочее],совмещенный,монолитно-кирпичный,[лоджия],"[кухня, хранение одежды]"
...,...,...,...,...,...,...,...,...,...,...,...,...
4968,[во двор],требует ремонта,[],[открытая во дворе],[газ],"[детская площадка, спортивная площадка]",свободная,[изолированные],раздельный,кирпичный,[лоджия],[]
4969,[во двор],требует ремонта,[],[],[],[],свободная,[прочее],совмещенный,кирпичный,[балкон],[]
4970,[],дизайнерский,[],[],[газ],"[детская площадка, спортивная площадка]",свободная,"[изолированные, смежные]",раздельный,кирпичный,[лоджия],[]
4971,"[во двор, на улицу, на солнечную сторону]",евро,[водонагреватель],[открытая во дворе],[мусоропровод],[детская площадка],свободная,[изолированные],раздельный,кирпичный,[лоджия],"[кухня, хранение одежды]"
4972,"[во двор, на улицу]",евро,[],[за шлагбаумом во дворе],[],"[закрытая территория, детская площадка, спорти...",свободная,[изолированные],раздельный,кирпичный,"[балкон, лоджия]","[кухня, хранение одежды, спальные места]"

In [151]:
list_cat = ['тип дома', 'ремонт', 'санузел', 'способ продажи']

In [152]:
from sklearn.preprocessing import OneHotEncoder

In [153]:
for item in list_cat:
    ohe = OneHotEncoder()
    array_hot_encoded = ohe.fit_transform(df[item].values.reshape(-1, 1)).toarray()
    df.drop(columns=[item], inplace=True)
    data_hot_encoded = pd.DataFrame(array_hot_encoded, columns=[f"{item}_{i}" for i in range(array_hot_encoded.shape[1])], index=df.index)
    df = pd.concat([df, data_hot_encoded], axis=1)

In [154]:
df.head()

,этажей в доме,количество комнат,площадь кухни,мебель,высота потолков,парковка,двор,общая площадь,год постройки,грузовой лифт,...,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4
0,25,4,10.590054,[],2.711507,[],[],62.6,2025,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,25,3,10.590054,[],2.711507,[],[],50.9,2025,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,9,2,7.700000,"[кухня, спальные места]",2.700000,[открытая во дворе],"[детская площадка, спортивная площадка]",50.9,1988,0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,25,3,10.590054,[],2.711507,[],[],45.2,2025,0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,10,1,10.000000,"[кухня, хранение одежды]",2.800000,[подземная],"[закрытая территория, детская площадка, спорти...",40.0,2019,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [155]:
df['двор'].value_counts()

[]                                                              2401
[детская площадка, спортивная площадка]                          947
[закрытая территория, детская площадка, спортивная площадка]     832
[детская площадка]                                               467
[закрытая территория, детская площадка]                          164
[закрытая территория]                                            119
[спортивная площадка]                                              9
[закрытая территория, спортивная площадка]                         3
Name: двор, dtype: int64

In [156]:
from functools import reduce

In [157]:
categorial_columns_ = list(set(df.columns) - set(df.describe().columns))

In [158]:
def contain(row, value):
    if value in row:
        return 1
    else:
        return 0

In [159]:
for column_name in categorial_columns_:
    unique_value = reduce(np.union1d, df[column_name].values)
    unique_value = np.delete(unique_value, np.argwhere(unique_value == ''))
    for item in unique_value:
        df[column_name+' '+item] = df[column_name].apply(lambda x: contain(x, item))
    df.drop([column_name], axis=1, inplace=True)

In [160]:
df

,этажей в доме,количество комнат,площадь кухни,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,position,...,двор спортивная площадка,тип комнат изолированные,тип комнат прочее,тип комнат смежные,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет,мебель кухня,мебель спальные места,мебель хранение одежды
0,25,4,10.590054,2.711507,62.6,2025,0,20,0,1000000,...,0,1,0,0,0,0,1,0,0,0
1,25,3,10.590054,2.711507,50.9,2025,0,8,0,1000000,...,0,1,0,0,0,0,1,0,0,0
2,9,2,7.700000,2.700000,50.9,1988,0,2,0,1000000,...,1,1,0,0,0,1,0,1,1,0
3,25,3,10.590054,2.711507,45.2,2025,0,11,0,1000000,...,0,1,0,0,0,0,1,0,0,0
4,10,1,10.000000,2.800000,40.0,2019,0,3,1,31,...,1,0,1,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2,7.000000,2.500000,49.1,1980,0,4,1,21,...,1,1,0,0,0,1,0,0,0,0
4969,3,1,11.100000,2.711507,35.2,2022,0,1,0,1000000,...,0,0,1,0,1,0,0,0,0,0
4970,10,4,18.400000,2.711507,81.4,2014,0,6,1,21,...,1,1,0,1,0,1,0,0,0,0
4971,5,3,12.000000,2.500000,94.1,2006,0,3,0,16,...,0,1,0,0,0,1,0,1,0,1
4972,4,3,20.000000,3.200000,114.0,1938,0,3,0,16,...,1,1,0,0,1,1,0,1,1,1

In [161]:
pd.options.display.max_columns = None
# pd.options.display.max_rows = None

In [162]:
df

,этажей в доме,количество комнат,площадь кухни,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,position,price,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,в доме газ,в доме консьерж,в доме мусоропровод,двор детская площадка,двор закрытая территория,двор спортивная площадка,тип комнат изолированные,тип комнат прочее,тип комнат смежные,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет,мебель кухня,мебель спальные места,мебель хранение одежды
0,25,4,10.590054,2.711507,62.6,2025,0,20,0,1000000,8171910,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
1,25,3,10.590054,2.711507,50.9,2025,0,8,0,1000000,6949215,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
2,9,2,7.700000,2.700000,50.9,1988,0,2,0,1000000,6490000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,1,1,0
3,25,3,10.590054,2.711507,45.2,2025,0,11,0,1000000,6156245,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
4,10,1,10.000000,2.800000,40.0,2019,0,3,1,31,9999999,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1,0,1,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2,7.000000,2.500000,49.1,1980,0,4,1,21,5300000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,0,0,0
4969,3,1,11.100000,2.711507,35.2,2022,0,1,0,1000000,3360000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
4970,10,4,18.400000,2.711507,81.4,2014,0,6,1,21,10990000,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,1,0,1,0,1,0,0,0,0
4971,5,3,12.000000,2.500000,94.1,2006,0,3,0,16,12990000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,1
4972,4,3,20.000000,3.200000,114.0,1938,0,3,0,16,26600000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,1,0,0,1,1,0,1,1,1

In [163]:
df = df.rename(columns={'position': 'метро', 'price': 'цена'})

In [164]:
df

,этажей в доме,количество комнат,площадь кухни,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,метро,цена,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,в доме газ,в доме консьерж,в доме мусоропровод,двор детская площадка,двор закрытая территория,двор спортивная площадка,тип комнат изолированные,тип комнат прочее,тип комнат смежные,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет,мебель кухня,мебель спальные места,мебель хранение одежды
0,25,4,10.590054,2.711507,62.6,2025,0,20,0,1000000,8171910,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
1,25,3,10.590054,2.711507,50.9,2025,0,8,0,1000000,6949215,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
2,9,2,7.700000,2.700000,50.9,1988,0,2,0,1000000,6490000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,1,1,0
3,25,3,10.590054,2.711507,45.2,2025,0,11,0,1000000,6156245,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
4,10,1,10.000000,2.800000,40.0,2019,0,3,1,31,9999999,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1,0,1,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2,7.000000,2.500000,49.1,1980,0,4,1,21,5300000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,0,0,0
4969,3,1,11.100000,2.711507,35.2,2022,0,1,0,1000000,3360000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
4970,10,4,18.400000,2.711507,81.4,2014,0,6,1,21,10990000,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,1,0,1,0,1,0,0,0,0
4971,5,3,12.000000,2.500000,94.1,2006,0,3,0,16,12990000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,1
4972,4,3,20.000000,3.200000,114.0,1938,0,3,0,16,26600000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,1,0,0,1,1,0,1,1,1

In [165]:
# df.drop(['высота потолков'], axis=1, inplace=True)

In [166]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [167]:
y = df['цена']

In [168]:
x = df.drop(['цена'], axis=1)

In [169]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [170]:
reg = LinearRegression().fit(X_train, y_train)

In [171]:
y_pred = reg.predict(X_test)

In [172]:
metrics.max_error(y_test, y_pred)

3312942353.0120835

In [173]:
MAE= metrics.mean_absolute_error(y_test, y_pred)
MSE=metrics.mean_squared_error(y_test, y_pred)
RMSE= np.sqrt(MSE)

In [174]:
MAE

6452407.020235628

In [175]:
MSE

6783774701919089.0

In [176]:
RMSE

82363673.43628554

In [177]:
y_pred

array([   34921.36517149, 10055268.1836697 ,  8230476.27024522, ...,
        9005134.55538537, 11173945.07646842, 11209567.44769842])

In [178]:
from sklearn import tree
clf = tree.DecisionTreeRegressor()

In [179]:
clf = clf.fit(X_train, y_train)

In [180]:
y_pred = clf.predict(X_test)

In [181]:
metrics.max_error(y_test, y_pred)
1841952164.5374045

1841952164.5374045

In [182]:
MAE= metrics.mean_absolute_error(y_test, y_pred)
MSE=metrics.mean_squared_error(y_test, y_pred)
RMSE= np.sqrt(MSE)

In [183]:
MAE

3452883.1759656654

In [184]:
MSE

6870559553375241.0

In [185]:
RMSE

82888838.53315379

In [186]:
y_pred

array([ 5100000., 12999000.,  5800000., ...,  5490000.,  1650000.,
       11680000.])

In [187]:
y_test

151      6100000
810     12999000
623      5800000
3995    16990000
4746     7800000
          ...
2075     9900000
3486     1885000
2664     6400000
2679     1300000
121     11680000
Name: цена, Length: 1631, dtype: int64

In [188]:
# from sklearn import preprocessing
# x_normal = preprocessing.normalize(x, norm='l2', axis=1)

In [189]:
# X_train, X_test, y_train, y_test = train_test_split(x_normal, y, test_size=0.33, random_state=42)
# reg = LinearRegression().fit(X_train, y_train)
# y_pred = reg.predict(X_test)

In [190]:
# metrics.max_error(y_test, y_pred)

In [191]:
from sklearn import ensemble

In [192]:
from sklearn.ensemble import RandomForestRegressor
# from sklearn.datasets import make_regression

In [193]:
regr = RandomForestRegressor(max_depth=6, random_state=0)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=6, random_state=0)

In [194]:
y_pred = regr.predict(X_test)

In [195]:
metrics.max_error(y_test, y_pred)

1070989693.3057375

In [196]:
MAE= metrics.mean_absolute_error(y_test, y_pred)
MSE=metrics.mean_squared_error(y_test, y_pred)
RMSE= np.sqrt(MSE)

In [197]:
MAE

2620441.6223857338

In [198]:
MSE

1130949398128112.0

In [199]:
RMSE

33629591.108547725

In [200]:
df

,этажей в доме,количество комнат,площадь кухни,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,метро,цена,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,в доме газ,в доме консьерж,в доме мусоропровод,двор детская площадка,двор закрытая территория,двор спортивная площадка,тип комнат изолированные,тип комнат прочее,тип комнат смежные,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет,мебель кухня,мебель спальные места,мебель хранение одежды
0,25,4,10.590054,2.711507,62.6,2025,0,20,0,1000000,8171910,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
1,25,3,10.590054,2.711507,50.9,2025,0,8,0,1000000,6949215,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
2,9,2,7.700000,2.700000,50.9,1988,0,2,0,1000000,6490000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,1,1,0
3,25,3,10.590054,2.711507,45.2,2025,0,11,0,1000000,6156245,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
4,10,1,10.000000,2.800000,40.0,2019,0,3,1,31,9999999,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1,0,1,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2,7.000000,2.500000,49.1,1980,0,4,1,21,5300000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,0,0,0
4969,3,1,11.100000,2.711507,35.2,2022,0,1,0,1000000,3360000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
4970,10,4,18.400000,2.711507,81.4,2014,0,6,1,21,10990000,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,1,0,1,0,1,0,0,0,0
4971,5,3,12.000000,2.500000,94.1,2006,0,3,0,16,12990000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,1
4972,4,3,20.000000,3.200000,114.0,1938,0,3,0,16,26600000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,1,0,0,1,1,0,1,1,1

In [201]:
def metro_avaliable(value):
    return "шаговая доступность" if value<=15 else "не шаговая доступность"

In [202]:
df['метро'] = df['метро'].apply(metro_avaliable)

In [203]:
df

,этажей в доме,количество комнат,площадь кухни,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,метро,цена,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,в доме газ,в доме консьерж,в доме мусоропровод,двор детская площадка,двор закрытая территория,двор спортивная площадка,тип комнат изолированные,тип комнат прочее,тип комнат смежные,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет,мебель кухня,мебель спальные места,мебель хранение одежды
0,25,4,10.590054,2.711507,62.6,2025,0,20,0,не шаговая доступность,8171910,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
1,25,3,10.590054,2.711507,50.9,2025,0,8,0,не шаговая доступность,6949215,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
2,9,2,7.700000,2.700000,50.9,1988,0,2,0,не шаговая доступность,6490000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,1,1,0
3,25,3,10.590054,2.711507,45.2,2025,0,11,0,не шаговая доступность,6156245,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
4,10,1,10.000000,2.800000,40.0,2019,0,3,1,не шаговая доступность,9999999,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1,0,1,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2,7.000000,2.500000,49.1,1980,0,4,1,не шаговая доступность,5300000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,0,0,0
4969,3,1,11.100000,2.711507,35.2,2022,0,1,0,не шаговая доступность,3360000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
4970,10,4,18.400000,2.711507,81.4,2014,0,6,1,не шаговая доступность,10990000,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,1,0,1,0,1,0,0,0,0
4971,5,3,12.000000,2.500000,94.1,2006,0,3,0,не шаговая доступность,12990000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,1
4972,4,3,20.000000,3.200000,114.0,1938,0,3,0,не шаговая доступность,26600000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,1,0,0,1,1,0,1,1,1

In [204]:
ohe = OneHotEncoder()
array_hot_encoded = ohe.fit_transform(df['метро'].values.reshape(-1, 1)).toarray()
df.drop(columns=['метро'], inplace=True)
data_hot_encoded = pd.DataFrame(array_hot_encoded, columns=[f"метро_{i}" for i in range(array_hot_encoded.shape[1])], index=df.index)
df = pd.concat([df, data_hot_encoded], axis=1)

In [205]:
df

,этажей в доме,количество комнат,площадь кухни,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,цена,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,в доме газ,в доме консьерж,в доме мусоропровод,двор детская площадка,двор закрытая территория,двор спортивная площадка,тип комнат изолированные,тип комнат прочее,тип комнат смежные,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет,мебель кухня,мебель спальные места,мебель хранение одежды,метро_0,метро_1
0,25,4,10.590054,2.711507,62.6,2025,0,20,0,8171910,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1.0,0.0
1,25,3,10.590054,2.711507,50.9,2025,0,8,0,6949215,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1.0,0.0
2,9,2,7.700000,2.700000,50.9,1988,0,2,0,6490000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,1,1,0,1.0,0.0
3,25,3,10.590054,2.711507,45.2,2025,0,11,0,6156245,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1.0,0.0
4,10,1,10.000000,2.800000,40.0,2019,0,3,1,9999999,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1,0,1,0,0,1,0,1,0,1,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2,7.000000,2.500000,49.1,1980,0,4,1,5300000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,0,0,0,1.0,0.0
4969,3,1,11.100000,2.711507,35.2,2022,0,1,0,3360000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1.0,0.0
4970,10,4,18.400000,2.711507,81.4,2014,0,6,1,10990000,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,1,0,1,0,1,0,0,0,0,1.0,0.0
4971,5,3,12.000000,2.500000,94.1,2006,0,3,0,12990000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,1,1.0,0.0
4972,4,3,20.000000,3.200000,114.0,1938,0,3,0,26600000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,1,0,0,1,1,0,1,1,1,1.0,0.0

In [206]:
df.drop(['количество комнат', 'площадь кухни'], axis=1, inplace=True)

In [207]:
df

,этажей в доме,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,цена,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,в доме газ,в доме консьерж,в доме мусоропровод,двор детская площадка,двор закрытая территория,двор спортивная площадка,тип комнат изолированные,тип комнат прочее,тип комнат смежные,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет,мебель кухня,мебель спальные места,мебель хранение одежды,метро_0,метро_1
0,25,2.711507,62.6,2025,0,20,0,8171910,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1.0,0.0
1,25,2.711507,50.9,2025,0,8,0,6949215,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1.0,0.0
2,9,2.700000,50.9,1988,0,2,0,6490000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,1,1,0,1.0,0.0
3,25,2.711507,45.2,2025,0,11,0,6156245,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1.0,0.0
4,10,2.800000,40.0,2019,0,3,1,9999999,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1,0,1,0,0,1,0,1,0,1,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2.500000,49.1,1980,0,4,1,5300000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,0,0,0,1.0,0.0
4969,3,2.711507,35.2,2022,0,1,0,3360000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1.0,0.0
4970,10,2.711507,81.4,2014,0,6,1,10990000,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,1,0,1,0,1,0,0,0,0,1.0,0.0
4971,5,2.500000,94.1,2006,0,3,0,12990000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,1,1.0,0.0
4972,4,3.200000,114.0,1938,0,3,0,26600000,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,1,0,0,1,1,0,1,1,1,1.0,0.0

In [208]:
df['цена за метр'] = df['цена']/df['общая площадь']

In [209]:
df.drop(['цена'], axis=1, inplace=True)

In [210]:
df

,этажей в доме,высота потолков,общая площадь,год постройки,грузовой лифт,этаж,пассажирский лифт,достроен,не достроен,тип дома_0,тип дома_1,тип дома_2,тип дома_3,тип дома_4,ремонт_0,ремонт_1,ремонт_2,ремонт_3,санузел_0,санузел_1,санузел_2,способ продажи_0,способ продажи_1,способ продажи_2,способ продажи_3,способ продажи_4,окна во двор,окна на солнечную сторону,окна на улицу,техника водонагреватель,техника кондиционер,техника микроволновка,техника плита,техника посудомоечная машина,техника стиральная машина,техника телевизор,техника холодильник,парковка за шлагбаумом во дворе,парковка наземная многоуровневая,парковка открытая во дворе,парковка подземная,в доме газ,в доме консьерж,в доме мусоропровод,двор детская площадка,двор закрытая территория,двор спортивная площадка,тип комнат изолированные,тип комнат прочее,тип комнат смежные,балкон или лоджия балкон,балкон или лоджия лоджия,балкон или лоджия нет,мебель кухня,мебель спальные места,мебель хранение одежды,метро_0,метро_1,цена за метр
0,25,2.711507,62.6,2025,0,20,0,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1.0,0.0,130541.693291
1,25,2.711507,50.9,2025,0,8,0,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1.0,0.0,136526.817289
2,9,2.700000,50.9,1988,0,2,0,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0,0,1,0,0,0,0,1,1,0,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,1,1,0,1.0,0.0,127504.911591
3,25,2.711507,45.2,2025,0,11,0,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1.0,0.0,136200.110619
4,10,2.800000,40.0,2019,0,3,1,1,0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1,0,1,0,0,1,0,1,0,1,1.0,0.0,249999.975000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,9,2.500000,49.1,1980,0,4,1,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,0,0,0,1.0,0.0,107942.973523
4969,3,2.711507,35.2,2022,0,1,0,1,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1.0,0.0,95454.545455
4970,10,2.711507,81.4,2014,0,6,1,1,0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,1,0,1,0,1,0,0,0,0,1.0,0.0,135012.285012
4971,5,2.500000,94.1,2006,0,3,0,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,1,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,1,1.0,0.0,138044.633369
4972,4,3.200000,114.0,1938,0,3,0,1,0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,1,1,0,0,1,1,0,1,1,1,1.0,0.0,233333.333333

In [211]:
y = df['цена за метр']
# X = df.drop(['цена за метр'], axis=1)
features = ['этажей в доме','высота потолков','общая площадь','год постройки','этаж','метро_0','метро_1',
            
            'окна во двор','окна на солнечную сторону','окна на улицу'
           ]
X = df[features]

In [212]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [213]:
# regr = RandomForestRegressor(max_depth=9, random_state=0)
# regr.fit(X_train, y_train)
# y_pred = regr.predict(X_test)

In [214]:
# metrics.max_error(y_test, y_pred)

In [215]:
# MAE= metrics.mean_absolute_error(y_test, y_pred)
# MSE=metrics.mean_squared_error(y_test, y_pred)
# RMSE= np.sqrt(MSE)

In [216]:
# MAE

In [217]:
# y.mean()

In [218]:
# y_pred.mean()

In [219]:
from sklearn.ensemble import GradientBoostingRegressor
params = {
    "n_estimators": 500,
    "max_depth": 4,
    "min_samples_split": 5,
    "learning_rate": 0.01,
    "loss": "squared_error",
}

In [220]:
reg = GradientBoostingRegressor(**params)
reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)

MAE= metrics.mean_absolute_error(y_test, y_pred)
MSE=metrics.mean_squared_error(y_test, y_pred)
RMSE= np.sqrt(MSE)

In [221]:
MAE

25615.26246792373

In [222]:
y.mean()

196073.06543990012

In [223]:
y_pred.mean()

226449.01941436334

In [224]:
metrics.r2_score(y_test,y_pred)

0.9995596106593718

In [225]:
0.9995434995721244

0.9995434995721244

In [227]:
# 0.9995538973918775 санузел

In [229]:
# 0.9995596107247925 окна

In [230]:
reg = LinearRegression().fit(X_train, y_train)
y_pred = reg.predict(X_test)
MAXERROR = metrics.max_error(y_test, y_pred)
MAE= metrics.mean_absolute_error(y_test, y_pred)
MSE=metrics.mean_squared_error(y_test, y_pred)
RMSE= np.sqrt(MSE)

In [231]:
MAE

188444.2425919051

In [232]:
y_test.mean()

225443.13461309217

In [233]:
y_pred.mean()

179976.57650952775

In [234]:
MAXERROR

142680972.8091156

In [235]:
metrics.r2_score(y_test,y_pred)

0.0028221469879127214